#String Based PracticeQuestions============================================

#1. Write a program to reverse a string.

In [ ]:
# Get Input String from user
string = str(input("Enter any String : "))
 #  define variable using slicinng method to get reverse using -1
reverse_string = string [::-1]
 # Print reverse string
print(reverse_string)

Enter any String :  ramjee

eejmar

#2. Check if a string is a palindrome.

In [ ]:
# Get Input String from user
string = str(input("Enter any String : "))
 # define variable using slicinng method to get reverse using -1
reverse_string = string [::-1]
# get output using if else method
if string == reverse_string :
    print("The given string is palindrome")
else:
    print ("The given string in not palidrome")

Enter any String :  ramjee

The given string in not palidrome

In [ ]:
# Get Input String from user
string = str(input("Enter any String : "))
 #  define variable using slicinng method to get reverse using -1
reverse_string = string [::-1]
# get output using if else method
if string == reverse_string :
    print("The given string is palindrome")
else:
    print ("The given string in not palidrome")

Enter any String :  noon

The given string is palindrome

#3. Convert a string to uppercase.

In [ ]:
# Get Input String from user
string = str(input("Enter any String : "))
 #  define variable and get uppercase using upper() method
uppercase_string = string.upper()
# print the uppercase string
print("The given string in uppercase is : ", uppercase_string)

Enter any String :  ramjee

The given string in uppercase is :  RAMJEE

# 4. Convert a string to lowercase.

In [ ]:
# Get Input String from user
string = str(input("Enter any String : "))
 #  define variable and get lowercase using lower() method
uppercase_string = string.lower()
# print the lowercase string
print("The given string in lowercase is : ", uppercase_string)

Enter any String :  Ramjee Singh

The given string in lowercase is :  ramjee singh

# 5. Count the number of vowels in a string.

In [ ]:
# Get input string from the user
string = input("Enter any string: ")
# Initialize a variable to keep track of the vowel count
vowel_count = 0
# Convert input string to lowercase
string = string.lower()
# Iterate through the characters in the string
for char in string:
    if char in "aeiou":
        vowel_count += 1
# Display the total number of vowels in the string
print("The total number of vowels in the string is:", vowel_count)

Enter any string:  Hello PWSkills

The total number of vowels in the string is: 3

# 6. Count the number of consonants in a string.

In [ ]:
# Get input string from the user
string = input("Enter any string: ")
# Initialize a variable to keep track of the vowel count
consonant_count = 0
# Convert input string to lowercase
string = string.lower()
# Iterate through the characters in the string
for char in string:
    if char in "bcdfghjklmnpqrstvwxyz":
        consonant_count += 1
# Display the total number of vowels in the string
print("The total number of consonant in the string is:", consonant_count)

Enter any string:  Hello PWSkills

The total number of consonant in the string is: 10

# 7. Remove all whitespaces from a string.

In [ ]:
# Get input string from the user
string = input("Enter any string: ")
# replace the whitespavce using replace
rev_whitespace = string.replace(" ","")

# Display the total number of vowels in the string
print("The string after removing whitespace is:", rev_whitespace)

Enter any string:  Hello PWSkills    how are you  ?

The string after removing whitespace is: HelloPWSkillshowareyou?

# 8. Find the length of a string without using the `len()` function.

In [ ]:
# Get input string from the user
string = input("Enter any string: ")
# Initialize a variable to keep track of the lenth count
length_count = 0
# Iterate through the characters in the string
for char in string:
    length_count += 1
# Display the total number of vowels in the string
print("The total number of length is:", length_count)

Enter any string:  ram

The total number of length is: 3

# 9. Check if a string contains a specific word.

In [ ]:
# Get input string from the user
string = input("Enter any string: ")
# find word in given string using find function
search_str = input("Enter the Search Word")
# Define the seaech fount print condition
if search_str in string:
        print("Word is present in given input")
else:
        print("Word is present not in given input")

Enter any string:  hello mr
Enter the Search Word mr

Word is present in given input

# 10. Replace a word in a string with another word.

In [ ]:
# Get input string from the user
input_string = input("Enter any string: ")
# define old and new str in input string
old_string = input("Enter the string for replace")
new_string = input("Enter the string for replace agingst old str")
# find word in given string using find function
modified_str = input_string.replace(old_string,new_string)
# Define the modified string for print
print("The modified str after replacement is" ,modified_str)

Enter any string:  PWSkills
Enter the string for replace kill
Enter the string for replace agingst old str tech

The modified str after replacement is PWStechs

# 11. Count the occurrences of a word in a string.

In [ ]:
# Input: Get a string from the user
input_sentence = input("Enter a sentence for word cound: ")

# Input: Get the word to count from the user
word_to_count = input("Enter the word to count: ")

# Convert all string to lowercase
input_sentence = input_sentence.lower()
word_to_count = word_to_count.lower()

# Count the occurrences of the word in string
count = input_sentence.count(word_to_count)

# Display the count
print(f"The word '{word_to_count}' appears {count} times in the string.")

Enter a sentence for word cound: This is an example sentence. This sentence contains the word example
Enter the word to count: sentence
The word 'sentence' appears 2 times in the string.

# 12. Find the first occurrence of a word in a string.**

In [ ]:
def find_first_occurrence(text, word):
    #Find the index of the first occurrence of the word in the text.
    index = text.find(word)

    # Check if the index is -1, indicating that the word was not found.
    if index == -1:
        return None  # Return None if the word is not found.

    # Return the index of the first occurrence of the word.
    return index

# Example usage
text = "This is an example sentence. This sentence contains the word example."
word = "example"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 11

# 13. Find the last occurrence of a word in a string.

In [ ]:
def find_last_occurrence(text, word):
    # Find the index of the last occurrence of the word in the text.
    index = text.rfind(word)

    # Check if the index is -1, indicating that the word was not found.
    if index == -1:
        return None  # Return None if the word is not found.

    # Return the index of the last occurrence of the word.
    return index

# Example usage
text = "This is an example sentence. This sentence also contains the word example."
word = "example"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 66

# 14. Split a string into a list of words.

In [ ]:
def split_string(input_string):
    return input_string.split()

input_str = input("Enter a string: ")

word_list = split_string(input_str)

print("List of words:", word_list)

Enter a string: This is Python Class
List of words: ['This', 'is', 'Python', 'Class']

# 15. Join a list of words into a string.

In [ ]:
text = ['Python', 'is', 'a', 'fun', 'programming', 'language']

# join with space
print('output: ',' '.join(text))

output:  Python is a fun programming language

# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
def convert_spaces_to_underscores(input_string):
    return input_string.replace(" ", "_")

input_str = input("Enter a string with spaces: ")

underscored_string = convert_spaces_to_underscores(input_str)

print("String with underscores:", underscored_string)

Enter a string with spaces: Python is a fun programming language
String with underscores: Python_is_a_fun_programming_language

# 17. Check if a string starts with a specific word or phrase.

In [ ]:
def starts_with(input_string, prefix):
    return input_string.startswith(prefix)

input_str = input("Enter a string: ")

prefix = input("Enter the prefix to check for: ")

if starts_with(input_str, prefix):
    print("The string starts with the prefix.")
else:
    print("The string does not start with the prefix.")

Enter a string: Check if a string starts with a specific word or phrase.
Enter the prefix to check for: Check
The string starts with the prefix.

# 18. Check if a string ends with a specific word or phrase.

In [ ]:
def ends_with(input_string, suffix):
    return input_string.endswith(suffix)

input_str = input("Enter a string: ")

suffix = input("Enter the suffix to check for: ")

if ends_with(input_str, suffix):
    print("The string ends with the suffix.")
else:
    print("The string does not end with the suffix.")

Enter a string: Check if a string ends with a specific word or phrase.
Enter the suffix to check for: word
The string does not end with the suffix.

# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
input_str = input("Enter a string: ")

title_case_str = input_str.title()

print("Title case string:", title_case_str)

Enter a string: My name is khan
Title case string: My Name Is Khan

# 20. Find the longest word in a string.

In [ ]:
def find_longest_word(input_string):
    words = input_string.split()
    return max(words, key=len)

input_str = input("Enter a string: ")

longest_word = find_longest_word(input_str)

print("Longest word:", longest_word)

Enter a string: Find the longest word in a string.
Longest word: longest

# 21. Find the shortest word in a string.

In [ ]:
def find_shortest_word(input_string):
    words = input_string.split()
    return min(words, key=len)

input_str = input("Enter a string: ")

shortest_word = find_shortest_word(input_str)

print("Shortest word:", shortest_word)

Enter a string: Find the shortest word in a string
Shortest word: a

#22. Reverse the order of words in a string.

In [ ]:
def reverse_words_order(input_string):
    words = input_string.split()
    reversed_words = ' '.join(reversed(words))
    return reversed_words

input_str = input("Enter a string: ")

reversed_words_str = reverse_words_order(input_str)

print("String with reversed word order:", reversed_words_str)

Enter a string: Ram is reading Python
String with reversed word order: Python reading is Ram

#23. Check if a string is alphanumeric.

In [ ]:
input_str = input("Enter a string: ")

if input_str.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter a string: Chachi420
The string is alphanumeric.

#24. Extract all digits from a string.

In [ ]:
def extract_digits(input_string):
    digits = ''.join(char for char in input_string if char.isdigit())
    return digits

input_str = input("Enter a string: ")

digits = extract_digits(input_str)

print("Extracted digits:", digits)

Enter a string: freedom1947
Extracted digits: 1947

#25. Extract all alphabets from a string.

In [ ]:
def extract_alphabets(input_string):
    alphabets = ''.join(char for char in input_string if char.isalpha())
    return alphabets

input_str = input("Enter a string: ")

alphabets = extract_alphabets(input_str)

print("Extracted alphabets:", alphabets)

Enter a string: freedom1947
Extracted alphabets: freedom

# 26. Count the number of uppercase letters in a string.

In [ ]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

input_str = input("Enter a string: ")

uppercase_count = count_uppercase(input_str)

print("Number of uppercase letters:", uppercase_count)

Enter a string: Hello Ram
Number of uppercase letters: 2

# 27. Count the number of lowercase letters in a string.

In [ ]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count

input_str = input("Enter a string: ")

lowercase_count = count_lowercase(input_str)

print("Number of lowercase letters:", lowercase_count)

Enter a string: Hello World
Number of lowercase letters: 8

# 28. Swap the case of each character in a string.

In [ ]:
input_str = input("Enter a string: ")

swapped_str = input_str.swapcase()

print("String with swapped case:", swapped_str)

Enter a string: Python
String with swapped case: pYTHON

# 29. Remove a specific word from a string.

In [ ]:
def remove_word(input_string, word_to_remove):
    modified_string = input_string.replace(word_to_remove, "")
    return modified_string

input_str = input("Enter a string: ")

word_to_remove = input("Enter the word to remove: ")

modified_str = remove_word(input_str, word_to_remove)

print("Modified string:", modified_str)

Enter a string: This is my style
Enter the word to remove: my
Modified string: This is  style

# 30. Check if a string is a valid email address.

In [ ]:
import re  # Import the regular expression module

def solve(s):
   pat = "^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{1,3}$"
   if re.match(pat,s):
      return True
   return False

s = "popular_website15@comPany.com"
print(solve(s))

True

# 31. Extract the username from an email address string.

In [ ]:
def extract_username(email):
    return email.split('@')[0]

email_address = input("Enter an email address: ")

username = extract_username(email_address)

print("Username:", username)

Enter an email address: ramjee.india@gmail.com
Username: ramjee.india

# 32. Extract the domain name from an email address string.

In [ ]:
def extract_domain(email):
    return email.split('@')[1]

email_address = input("Enter an email address: ")

domain = extract_domain(email_address)

print("Domain:", domain)

Enter an email address: ramjee.india@gmail.com
Domain: gmail.com

# 33. Replace multiple spaces in a string with a single space.

In [ ]:
def replace_multiple_spaces(input_string):
    return ' '.join(input_string.split())

input_str = input("Enter a string: ")

modified_str = replace_multiple_spaces(input_str)

print("Modified string:", modified_str)

Enter a string: Python is no 1 rog lang   check
Modified string: Python is no 1 rog lang check

# 34. Check if a string is a valid URL.

In [ ]:
import re

def is_valid_url(url):
    return re.match(r'^(https?://)?(www\.)?\w+\.\w+$', url)

url = input("Enter a URL: ")

if is_valid_url(url):
    print("The URL is valid.")
else:
    print("The URL is not valid.")

Enter a URL: www.google.com
The URL is valid.

# 35. Extract the protocol (http or https) from a URL string.

In [ ]:
def extract_protocol(url):
    if url.startswith("https"):
        return "https"
    elif url.startswith("http"):
        return "http"
    else:
        return None
url = input("Enter a URL: ")

protocol = extract_protocol(url)

if protocol:
    print("Protocol:", protocol)
else:
    print("Protocol not found.")

Enter a URL: https://services.gst.gov.in/services/searchtp
Protocol: https

# 36. Find the frequency of each character in a string.

In [ ]:
from collections import Counter

input_str = input("Enter a string: ")

char_frequency = Counter(input_str)

for char, freq in char_frequency.items():
    print(f"'{char}': {freq}")

Enter a string: Python is a high-level, general-purpose programming language.
'P': 1
'y': 1
't': 1
'h': 3
'o': 3
'n': 4
' ': 6
'i': 3
's': 2
'a': 5
'g': 6
'-': 2
'l': 4
'e': 6
'v': 1
',': 1
'r': 4
'p': 3
'u': 2
'm': 2
'.': 1

# 37. Remove all punctuation from a string.

In [ ]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans('', '', string.punctuation)
    return input_string.translate(translator)

input_str = input("Enter a string: ")

cleaned_str = remove_punctuation(input_str)

print("String without punctuation:", cleaned_str)

Enter a string: Python is a high-level, general-purpose programming language.
String without punctuation: Python is a highlevel generalpurpose programming language

# 38. Check if a string contains only digits.

In [ ]:
input_str = input("Enter a string: ")

if input_str.isdigit():
    print("The string contains only digits.")
else:
    print("The string does not contain only digits.")

Enter a string: 9660487879
The string contains only digits.


# 39. Check if a string contains only alphabets.

In [ ]:
input_str = input("Enter a string: ")

if input_str.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string does not contain only alphabets.")

Enter a string: Indian
The string contains only alphabets.

# 40. Convert a string to a list of characters.

In [ ]:
input_str = input("Enter a string: ")

char_list = list(input_str)

print("List of characters:", char_list)

Enter a string: PWSkills
List of characters: ['P', 'W', 'S', 'k', 'i', 'l', 'l', 's']

# 41. Check if two strings are anagrams.

In [ ]:
def check(s11, s22):

	# the sorted strings are checked
	if(sorted(s11) == sorted(s22)):
		print("The strings are anagrams.")
	else:
		print("The strings aren't anagrams.")

# driver code
s11 ="listen"
s22 ="silent"
check(s11, s22)

The strings are anagrams.


# 42. Encode a string using a Caesar cipher.

In [ ]:
def encrypt_text(plaintext,n):
    ans = ""
    # iterate over the given text
    for i in range(len(plaintext)):
        ch = plaintext[i]

        # check if space is there then simply add space
        if ch==" ":
            ans+=" "
        # check if a character is uppercase then encrypt it accordingly
        elif (ch.isupper()):
            ans += chr((ord(ch) + n-65) % 26 + 65)
        # check if a character is lowercase then encrypt it accordingly

        else:
            ans += chr((ord(ch) + n-97) % 26 + 97)

    return ans

plaintext = "HELLO EVERYONE"
n = 1
print("Plain Text is : " + plaintext)
print("Shift pattern is : " + str(n))
print("Cipher Text is : " + encrypt_text(plaintext,n))

Plain Text is : HELLO EVERYONE
Shift pattern is : 1
Cipher Text is : IFMMP FWFSZPOF

# 43. Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

# 44. Find the most frequent word in a string.

In [ ]:
# Using loop + max() + split() + defaultdict()
from collections import defaultdict

# initializing Matrix
test_list = ["python is best for coders", "python is fun", "python is easy to learn"]

# printing original list
print("The original list is : " + str(test_list))

temp = defaultdict(int)

# memoizing count
for sub in test_list:
	for wrd in sub.split():
		temp[wrd] += 1

# getting max frequency
res = max(temp, key=temp.get)

# printing result
print("Word with maximum frequency : " + str(res))

The original list is : ['python is best for coders', 'python is fun', 'python is easy to learn']
Word with maximum frequency : python


# 45. Find all unique words in a string.

In [ ]:
def printWords(l):

    # for loop for iterating
    for i in l:
        print(i)


# Driver code
str = "Python is great and Java is also great"

# storing string in the form of list of words
s = set(str.split(" "))

# passing list to print words function
printWords(s)

also
Python
is
great
and
Java

# 46. Count the number of syllables in a string.

In [ ]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

# 47. Check if a string contains any special characters.

In [ ]:
def has_special_char(s):
	for c in s:
		if not (c.isalpha() or c.isdigit() or c == ' '):
			return True
	return False


# Test the function
s = "Hello World"
if has_special_char(s):
	print("o/p 1 : The string contains special characters.")
else:
	print("o/p 1 : The string does not contain special characters.")

s = "Hello@World"
if has_special_char(s):
	print("o/p 2 : The string contains special characters.")
else:
	print("o/p 2 : The string does not contain special characters.")

o/p 1 : The string does not contain special characters.
o/p 2 : The string contains special characters.

# 48. Remove the nth word from a string.

In [ ]:
def removechar(str1, n):
	x = str1[ : n]
	y = str1[n + 1: ]
	return x + y

# Driver Code
if __name__ == '__main__':
	str1 = input("Enter a String =")
	n = int(input("Enter the n-th index ="))

print("The new string =\n")
print(removechar(str1, n))

Enter a String =Python is a popular programming language
Enter the n-th index =12
The new string =

Python is a opular programming language

# 49. Insert a word at the nth position in a string.

In [ ]:
# Input string
original_str = 'PWSkills'

# Substring to add
add_str = 'tech'

# Index to add substring
index = 11

# Adding substring
result_str = f"{original_str[:index]}{add_str}{original_str[index:]}"

print('Output:',result_str)

Output: PWSkillstech

# 50. Convert a CSV string to a list of lists.

In [ ]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

#==================== List Based Practice Problem : ========================

#1. Create a list with integers from 1 to 10.

In [10]:
# define list data
l1 = (1,2,3,4,5,6,7,8,9,10)
# print list data
print("List is :",l1)

List is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# 2.Find the length of a list without using the `len()` function.

In [11]:
# define list and count function
l2 = [1,2,3,4,5,6,7,8,9,10]
count = 0
for i in l2:
    count +=1
print("Length of list is ",count)

Length of list is  10

# 3. Append an element to the end of a list.

In [1]:
l3 = [2,5,7,8,9,14]
l3.append(100)
print("Appended list is : ",l3)

Appended list is :  [2, 5, 7, 8, 9, 14, 100]

# 4. Insert an element at a specific index in a list.

In [8]:
l4 = [45,89,67,89,45]
l4.insert(500,1000)
print("Updated list after insert is ",l4)

Updated list after insert is  [45, 89, 67, 89, 45, 1000]

# 5.Remove an element from a list by its value.

In [12]:
l5 = [1,2,3,4,5,6,7,8,9,10]
l5.remove(10)
print("Updated list after removal is ",l5)

Updated list after removal is  [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 6. Remove an element from a list by its index.

In [15]:
l6 = [1,2,3,4,5,6,7,8,9,10]
# pop by dafult remove last element so use index for desired data remove
l6.pop(1)
print("Updated list after removal using pop is ",l6)

Updated list after removal using pop is  [1, 3, 4, 5, 6, 7, 8, 9, 10]


# 7. Check if an element exists in a list.

In [18]:
l7= [1,2,3,4,5,6,7,8,9,10]

# Element to check
element_to_check = 3

# Check if the element exists in the list
if element_to_check in l7:
    print(f"The given data {element_to_check} exists in the list.")
else:
    print(f"The given data {element_to_check} does not exist in the list.")

The given data 3 exists in the list.

# 8. Find the index of the first occurrence of an element in a list.

In [24]:
l8 = [1,2,3,4,5,6,7,8,9,10]
# Check if the element index in the list
ele_index = 3
print(f" Index of given data is {l8.index(ele_index)}")

 Index of given data is 2


# 9. Count the occurrences of an element in a list.

In [25]:
l9=[1,1,2,2,1,3,1,2,5]
s=set(l9)
for i in s:
    print(i," count is ",l9.count(i))

1  count is  4
2  count is  3
3  count is  1
5  count is  1

# 10. Reverse the order of elements in a list.

In [2]:
l10=[1,2,3,4,5,6,7,8,9]
l10.reverse()
print("reverse the order of element in list is : ",l10)

reverse the order of element in list is :  [9, 8, 7, 6, 5, 4, 3, 2, 1]

# 11. Sort a list in ascending order.

In [3]:
l11=[100,2,300,4,5,6,7,8,9]
l11.sort()
print("sort in list is: ",l11)

sort in list is:  [2, 4, 5, 6, 7, 8, 9, 100, 300]

#12. Sort a list in descending order.

In [28]:
l12=[100,2,300,4,5,6,7,8,9]
l12.sort(reverse=True)
print(l12)

[300, 100, 9, 8, 7, 6, 5, 4, 2]

# 13. Create a list of even numbers from 1 to 20.

In [5]:
el=[]
# define range from 1 to 20 for even num
for i in range(2,21):
    if(i%2==0):
        el.append(i)
print("List of even numbers from 1 to 20 : ",el)

List of even numbers from 1 to 20 :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


# 14. Create a list of odd numbers from 1 to 20.

In [6]:
ol=[]
for i in range(0,21):
    if(i%2==0):
        continue
    else:
        ol.append(i)
print("List of Odd numbers from 1 to 20",ol)

List of Odd numbers from 1 to 20 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# 15. Find the sum of all elements in a list.

In [35]:
mylist = [10, 20, 30, 40, 50, 60, 70, 80, 90]

# Calculate the sum of all elements in the list
total_sum = sum(mylist)

# Print the sum
print("Sum of elements:", total_sum)

Sum of elements: 450

# 16. Find the maximum value in a list.

In [36]:
mylist = [10, 20, 30, 40, 50, 60, 70, 80, 90]

# max elements in the list
max_val = max(mylist)

# Print the sum
print("Max Val of elements:", max_val)

Max Val of elements: 90

# 17. Find the minimum value in a list.

In [37]:
mylist = [10, 20, 30, 40, 50, 60, 70, 80, 90]

# min elements in the list
min_val = min(mylist)

# Print the sum
print("Min Val of elements:", min_val)

Min Val of elements: 10

# 18. Create a list of squares of numbers from 1 to 10.

In [40]:
sq=[]
for i in range(1,11):
    sq.append(i**2)
print("List of Square from 1 to 10 is ",sq)

List of Square from 1 to 10 is  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 19. Create a list of random numbers.

In [41]:
import random
l=[]
for i in range(0,10):
    l.append(random.randint(1,100))
print("list of random numbers",l)

list of random numbers [47, 16, 51, 65, 38, 42, 63, 14, 5, 55]

# 20. Remove duplicates from a list.

In [7]:
original_list = [10, 20, 30, 20, 40, 10, 50, 30]
unique_list = []

for item in original_list:
    if item not in unique_list:
        unique_list.append(item)

print("List of Unique Value is : ", unique_list)

List of Unique Value is :  [10, 20, 30, 40, 50]

# 21. Find the common elements between two lists.

In [47]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

common_elements = []

for item in list1:
    if item in list2:
        common_elements.append(item)

print("Common elements:", common_elements)

Common elements: [30, 40, 50]

# 22. Find the difference between two lists.

In [52]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between list1 and list2
difference = [item for item in list1 if item not in list2]

print("Difference between list1 and list2:", difference)

Difference between list1 and list2: [10, 20]

#23. Merge two lists.

In [53]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between list1 and list2
merge_list = list1 + list2

print("Merge list of both lists :", merge_list)

Merge list of both lists : [10, 20, 30, 40, 50, 30, 40, 50, 60, 70]

# 24. Multiply all elements in a list by 2.

In [54]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,len(l)):
    l[i]=l[i]*2
print("Multiply list by 2 is :",l)

Multiply list by 2 is : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


# 25. Filter out all even numbers from a list.

In [8]:

li = [3, 6, 8, 11, 13, 22, 30]

# Output list initialisation
even_num = []

for num in li:

	# checking condition
	if num % 2 == 0:
		even_num.append(num)

# printing output
print('Even no.:', even_num)

Even no.: [6, 8, 22, 30]


# 26. Convert a list of strings to a list of integers.

In [11]:

string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
int_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", int_list)

List of integers: [10, 20, 30, 40, 50]

#27. Convert a list of integers to a list of strings.

In [12]:
int_list = [10, 20, 30, 40, 50, 60]

# Convert list of strings to list of integers using a list comprehension
str_list = [str(x) for x in int_list]

# Print the list of integers
print("List of integers:", str_list)

List of integers: ['10', '20', '30', '40', '50', '60']

# 28. Flatten a nested list.

In [15]:
l=[1,[2,3],[3,4,5],6]
f=[]
#print(type(f))
for i in range(0,len(l)):
    if type(l[i]) is list:
        #print(type(l[i]),"if")
        f.extend(l[i])
    else:
        #print(type(l[i]),"else")
        f.append(l[i])
print("Nested List :",f)
#print(type(l[0]) is list)

Nested List : [1, 2, 3, 3, 4, 5, 6]

# 29. Create a list of the first 10 Fibonacci numbers

In [16]:
l=[]
n1,i=0,0
n2=1
while i<=10:
    l.append(n1)
    nth = n1 +n2
    n1 = n2
    n2 = nth
    i=i+1
print ("Fibonacci numbers :",l)

Fibonacci numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# 30. Check if a list is sorted.

In [18]:
l=[1,4,3,8,65,98]
temp=l.copy()
l.sort()
if l==temp:
    print("Yes")
else:
    print("NO")

NO

# 31. Rotate a list to the left by `n` positions.

In [21]:
n = 4
l=[1,2,3,4,5]
l=l[n:]+l[:n]
print("Rotate list ",l)

Rotate list  [5, 1, 2, 3, 4]


# 32. Rotate a list to the right by `n` positions.

In [22]:
l=[1,2,3,4,5]
t=l.copy()
n=int(input("Enter the nth "))
l=l[-n:]+l[:n+1]
l[:len(t)]

Enter the nth  4

[2, 3, 4, 5, 1]

# 33. Create a list of prime numbers up to 50.

In [26]:
l=[]
for i in range(2,51):
    count=0
    for j in range(2,i):
        if(i%j==0):
            count=+1
    if count==0:
        l.append(i)
print("Prime Number list upto 50 is :",l)

Prime Number list upto 50 is : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# 34. Split a list into chunks of size `n`.

In [24]:
l=[1,2,3,44,5,6,7,8,9,10]
for i in range(0,len(l),2):
    print(l[i:i+2])

[1, 2]
[3, 44]
[5, 6]
[7, 8]
[9, 10]

# 35. Find the second largest number in a list.

In [25]:
l=[1,2,3,8,5,9,5]
l.sort()
print(l[-2])

8

# 36. Replace every element in a list with its square.

In [68]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(l)):
    l[i]=l[i]**2
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [30]:
l = ['msexcel', 'powerbi', 'datascience', 'webdev', 'api']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(l)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'msexcel': 0, 'powerbi': 1, 'datascience': 2, 'webdev': 3, 'api': 4}

# 38. Shuffle the elements of a list randomly.

In [37]:
import random
l38=[1,2,3,4,5]
random.shuffle(l38)
l38

[3, 1, 4, 5, 2]

# 39. Create a list of the first 10 factorial numbers.

In [71]:
l=[]
for i in range(1,11):
    fab=1
    for j in range(1,i+1):
        fab=fab*j
    l.append(fab)
l

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]


# 40. Check if two lists have at least one element in common.

In [72]:
l=[1,2,3,4,5,6,7,8]
l2=[0,0,'a','e',8]
count=0
for i in l2:
    if i in l:
        count=+1
if count==0:
    print("NO common element")
else:
    print("Yes common element")

Yes common element

#41. Remove all elements from a list.

In [73]:
l=[1,2,3,4]
l.clear()
print(l)

[]

# 42. Replace negative numbers in a list with 0.

In [74]:
l=[1,-1,2,-3,0]
for i in l:
    if i<=0:
        l[l.index(i)]=0
l

[1, 0, 2, 0, 0]

# 43. Convert a string into a list of words.

In [38]:
s="My name is Ramjee"
l=list(s.split())
l

['My', 'name', 'is', 'Ramjee']

# 44. Convert a list of words into a string.

In [76]:
l=["az",'ab','a','cba']
print(" ".join(l))

az ab a cba

# 45. Create a list of the first `n` powers of 2.

In [40]:
n=int(input("Enter the nth num ") )
l=[]
for i in range(1,n+1):
    l.append(i**2)
print(l)

Enter the nth num  3

[1, 4, 9]


# 46. Find the longest string in a list of strings.

In [79]:
l=["az",'ab','a','cba']
l.sort(reverse=True)
print(l[0])

cba

#47. Find the shortest string in a list of strings.

In [80]:
l=["az",'ab','a','cba']
l.sort(reverse=True)
print(l[-1])

a

# 48. Create a list of the first `n` triangular numbers.

In [81]:
n=int(input("Enter the nth nuber"))
l=[]
sum=0
for i in range(1,n+1):
    sum=sum+i
    l.append(sum)
print(l)

Enter the nth nuber3
[1, 3, 6]


# 49. Check if a list contains another list as a subsequence.

In [82]:
l=[1,[1,2],3]
count=0
for i in range(len(l)):
    if type(l[i]) is list:
        count=+1
if count==0:
    print("NO list")
else:
    print("Yes it contain list")

NO list

# 50. Swap two elements in a list by their indices.

In [83]:
l=[1,2,3,4,5]
l[0]=l[0]+l[1]
l[1]=l[0]-l[1]
l[0]=l[0]-l[1]
print(l)

[2, 1, 3, 4, 5]

## Tuple Based Practice Problem :

# 1. Create a tuple with integers from 1 to 5.

In [42]:
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)


# 2. Access the third element of a tuple.

In [43]:
t=(1,2,3,4,5)
print(list(t)[2])

3

# 3. Find the length of a tuple without using the `len()` function.

In [44]:
t=(1,2,3,4,5)
count=0
for i in t:
    count=count+1
count

5


#4. Count the occurrences of an element in a tuple.

In [46]:
t=(1,2,3,4,5,6,7,8,9,22,1,3,4,56)
co=int(input("Enter the element "))
print(t.count(co))

Enter the element  2

1

#5. Find the index of the first occurrence of an element in a tuple.

In [47]:
t=(1,2,3,4,5,6,7,8,9,22,1,3,4,56)
co=int(input("Enter the element "))
print(t.index(co))

Enter the element  5

4


# 6. Check if an element exists in a tuple.

In [48]:
t=(1,2,3,4,5)
c=int(input("Entere the check element"))
if c in t:
    print("Yes")
else:
    print("No")

Entere the check element 3

Yes


# 7. Convert a tuple to a list.

In [50]:
t=(1,2,3,4,5)
l=list(t)
print(l)

[1, 2, 3, 4, 5]

#8. Convert a list to a tuple.

In [51]:
l=[1,2,3,4,5]
t=tuple(l)
print(t)

(1, 2, 3, 4, 5)

#9. Unpack the elements of a tuple into variables.

In [53]:
t=("Ramjee",37,"DC")
# In right hand side is packing and left hand side is unpacking
(Name,age,Course)=t
print(Name)
print(age)
print(Course)

# Another way do that
t=[1,2,3,4,5,6,7,8,9]
# that means a and c hold only 1 elemt but *b are hold all left element in tuple
(a,*b,c)=t
print(a)
print(b)
print(c)

Ramjee
37
DC
1
[2, 3, 4, 5, 6, 7, 8]
9

# 10. Create a tuple of even numbers from 1 to 10.

In [54]:
l=[]
for i in range(2,11):
    if(i%2==0):
        l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)


#11. Create a tuple of odd numbers from 1 to 10.

In [55]:
l=[]
for i in range(1,11):
    if(i%2!=0):
        l.append(i)
print(tuple(l))

(1, 3, 5, 7, 9)


#12. Concatenate two tuples.

In [56]:
t=(1,2,3)
t2=(4,5)
print(t+t2)

(1, 2, 3, 4, 5)


# 13. Repeat a tuple three times.

In [57]:
t=(1,2,3,4,5)
print(t*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)


#14. Check if a tuple is empty.

In [58]:
t=(1,2)
print(type(t))
if len(t)==0:
    print("Empty")
else:
    print("Not Empty")

<class 'tuple'>
Not Empty

# 15. Create a nested tuple.

In [60]:
t=(1,2,(3,4))
print(t)

(1, 2, (3, 4))

#16. Access the first element of a nested tuple.

In [61]:
t=[1,2,[3,4],5]
l=list(t)
print(l[2][1])

4

#17. Create a tuple with a single element.

In [62]:
t=tuple('1')
print(type(t))

<class 'tuple'>

#18. Compare two tuples.

In [63]:
t=[1,2,3,4,5]
t1=[1,2,3,4,5]
if t==t1:
    print("Equal")
else:
    print("Not Equal")

Equal

#19. Delete a tuple.

In [64]:
t=(1,2,3,4,5)
del t
print(t)

NameError: name 't' is not defined


#20. Slice a tuple.

In [65]:
t=(1,2,3,4,5)
for i in range(len(t)):
    print(t[i])

1
2
3
4
5

#21. Find the maximum value in a tuple.

In [66]:
t=(1,2,3,4,5)
print(max(t))

5

#22. Find the minimum value in a tuple.

In [67]:
t=(1,2,3,4,5)
print(min(t))

1

#23. Convert a string to a tuple of characters.

In [69]:
str="PWSKILLS"
t=tuple(str)
print(type(t))
print(t)

<class 'tuple'>
('P', 'W', 'S', 'K', 'I', 'L', 'L', 'S')

#24. Convert a tuple of characters to a string.

In [70]:
st="I AM LEARNING PYTHON"
t=tuple(st)
print("".join(t))

I AM LEARNING PYTHON

#25. Create a tuple from multiple data types.

In [71]:
l=[1,2,3]
s="PWSKILSS"
t=tuple(l)
t1=tuple(s)
print(type(t))
print(type(t1))

<class 'tuple'>
<class 'tuple'>


#26. Check if two tuples are identical.

In [72]:
t=(1,2,3,4,5)
t1=(1,2,3,4,5)
t3=(1,2,3,5,4)
if t1==t:
    print("t and t1 is identical")
else:
    print("t and t1 are not identical")
if t==t3:
    print("t and t3 are identical")
else:
    print("t and t3 are not identical")

t and t1 is identical
t and t3 are not identical

#27. Sort the elements of a tuple.

In [73]:
t=(1,2,3,4,5,1,2,3)
l=list(t)
l.sort()
t1=l
print(t1)

[1, 1, 2, 2, 3, 3, 4, 5]

#28. Convert a tuple of integers to a tuple of strings.

In [80]:
# Original tuple of integers
int_tuple = (1, 2, 3, 4, 5)

# Use a list comprehension to convert integers to strings and create a new tuple
str_tuple = tuple(str(num) for num in int_tuple)

print("Tuple of strings:", str_tuple)

TypeError: 'str' object is not callable


#29. Convert a tuple of strings to a tuple of integers.

In [81]:
a=('1','2')
a=tuple(map(int,a))
print(a)

(1, 2)

#30. Merge two tuples.

In [82]:
t=(1,2,3)
t1=(4,5)
t2=t+t1
print(t2)

(1, 2, 3, 4, 5)

#31. Flatten a nested tuple.

In [83]:
t=(1,2,(3,4),5)
l=list(t)
l1=[]
for i in range(len(t)):
    if type(l[i])== tuple:
        l1.extend(l[i])
    else:
        l1.append(l[i])
print(l1)

[1, 2, 3, 4, 5]

#32. Create a tuple of the first 5 prime numbers.

In [84]:
l=[]
for i in range(2,6):
    count=0
    for j in range(2,i):
        if i%j==0:
            count=+1
    if count==0:
        l.append(i)
t=tuple(l)
print(t)

(2, 3, 5)


#33. Check if a tuple is a palindrome.

In [85]:
t=(1,2,1)
l=list(t)
l.reverse()
t1=tuple(l)
print(t1==t)

True


#34. Create a tuple of squares of numbers from 1 to 5.

In [86]:
tup = ()
for i in range(1,6):
    tup = tup + (i**2,)
# In concatinate function only same data type conacte
print(tup)

(1, 4, 9, 16, 25)


#35. Filter out all even numbers from a tuple.

In [87]:
t=(1,2,3,4,5)
l=list(t)
l1=[]
for i in l:
    if(i%2==0):
        l1.append(i)
l1

[2, 4]

#36. Multiply all elements in a tuple by 2.

In [88]:
t=[1,2,3]
l=list(t)
l1=[]
for i in l:
    l1.append(i*2)
t1=tuple(l1)
t1

(2, 4, 6)


#37. Create a tuple of random numbers.

In [89]:
import random
t=()
n=int(input("How many number in the tuple"))
for i in range(n):
    t=t+(random.randint(1,100),)
print(t)

How many number in the tuple 5

(61, 55, 86, 76, 69)


#38. Check if a tuple is sorted.

In [90]:
t=(1,2,3,4,5,1)
l=list(t)
l.sort()
t1=tuple(l)
if(t==t1):
    print("Yes, sorted")
else:
    print("No sorted")

No sorted

#39. Rotate a tuple to the left by `n` positions.

In [91]:
n=int(input("Enter the nth"))
t=(1,2,3,4,5)
t=t[n:]+t[:n]
t

Enter the nth 3

(4, 5, 1, 2, 3)

#40. Rotate a tuple to the right by `n` positions.

In [92]:
n=int(input("Enter the nth"))
t=(1,2,3,4,5)
t=t[-n:]+t[:n+1]
t

Enter the nth 3

(3, 4, 5, 1, 2, 3, 4)


#41. Create a tuple of the first 5 Fibonacci numbers.

In [93]:
t=()
n=0
n1=1
i=0
while i<=5:
    t=t+(n,)
    nth=n+n1
    n=n1
    n1=nth
    i=i+1
t

(0, 1, 1, 2, 3, 5)


#42. Create a tuple from user input.

In [94]:
t=()
n=int(input("Enter the len of the tuple"))
for i in range(n):
    temp=input("Enter the element ")
    t=t+(temp,)
tR

Enter the len of the tuple 2
Enter the element  4
Enter the element  3

NameError: name 'tR' is not defined

#43. Swap two elements in a tuple.

In [95]:
t=(1,2,3,4,5)
l=list(t)
l[0],l[1]=l[1],l[0]
t1=tuple(l)
t1

(2, 1, 3, 4, 5)

#44. Reverse the elements of a tuple.

In [96]:
t=(1,2,3,4,5)
l=list(t)
l.reverse()
t=tuple(l)
t

(5, 4, 3, 2, 1)


#45. Create a tuple of the first `n` powers of 2.

In [97]:
t=()
n=int(input("Enter the number"))
for i in range(1,n+1):
    t=t+(i**2,)
t

Enter the number 3

(1, 4, 9)


#46. Find the longest string in a tuple of strings.

In [98]:
t=('a','aaa','aa')
print(max(t))

aaa

#47. Find the shortest string in a tuple of strings.

In [99]:
t=('a','aaa','aa')
print(min(t))

a

#48. Create a tuple of the first `n` triangular numbers.

In [100]:
sum=0
t=()
n=int(input("Ente the number "))
for i in range(1,n+1):
    sum=sum+i
    t=t+(sum,)
t

Ente the number  3

(1, 3, 6)

#49. Check if a tuple contains another tuple as a subsequence.

In [101]:
t=(1,(2,3),4)
l=list(t)
count=0
for i in range(len(l)):
    if type(l[i])==tuple:
        count=+1
if count==0:
    print("Not tuple in tuple")
else:
    print("Yes, tuple in tuple")

Yes, tuple in tuple

#50. Create a tuple of alternating 1s and 0s of length `n`.

In [102]:
t=()
n=int(input("Enter the number"))
for i in range(1,n+1):
    if(i%2==0):
        t=t+(0,)
    else:
        t=t+(1,)
t

Enter the number 3

(1, 0, 1)

## Set Based Practice Problem ==================================

#1. Create a set with integers from 1 to 5.

In [3]:
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

#2. Add an element to a set.

In [4]:
s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

#3. Remove an element from a set.

In [5]:
s={1,2,3,4,5,6}
s.remove(6)
print(s)

{1, 2, 3, 4, 5}

#4. Check if an element exists in a set.

In [6]:
s={1,2,3,4,5}
ch=int(input("Enther the check element "))
if ch in s:
    print("Yes")
else:
    print("No")

Yes

#5. Find the length of a set without using the `len()` function.

In [7]:
s={1,2,3,4,5,6,7,8,9,10}
count1=0
for i in s:
    count1=count1+1
print(count1)

10

#6. Clear all elements from a set.

In [8]:
s={1,2,3,4,5}
s.clear()
print(s)

set()

#7. Create a set of even numbers from 1 to 10.

In [9]:
s=set()
for i in range(1,11):
    if(i%2==0):
        s.add(i)
s

{2, 4, 6, 8, 10}

#8. Create a set of odd numbers from 1 to 10.

In [10]:
s=set()
for i in range(1,11):
    if(i%2!=0):
        s.add(i)
s

{1, 3, 5, 7, 9}

#9. Find the union of two sets.

In [11]:
s={1,2,3,4,5}
s1={6,7,8,9,1}
print(s.union(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#10. Find the intersection of two sets.

In [12]:
s={1,2,3,4,5}
s1={6,7,8,9,1}
print(s.intersection(s1))

{1}


#11. Find the difference between two sets.

In [13]:
s={1,2,3,4,5}
s1={6,7,8,9,1}
print(s.difference(s1))

{2, 3, 4, 5}

#12. Check if a set is a subset of another set.

In [14]:
s={1,2,3,4,5}
s1={2,1}
print(s1.issubset(s))

True


#13. Check if a set is a superset of another set.

In [15]:
s={1,2,3,4,5}
s1={2,1}
print(s.issuperset(s1))

True


#14. Create a set from a list.

In [17]:
l=[1,2,3,4,5]
s=set(l)
print(s)

{1, 2, 3, 4, 5}

#15. Convert a set to a list.

In [18]:
s={1,2,3,4,5,6}
l=list(s)
print(l)

[1, 2, 3, 4, 5, 6]


#16. Remove a random element from a set.

In [19]:
import random as rn
s={1,2,3,4,5,6,7,8,9,0}
r=int(rn.randrange(9))
s.remove(r)
print(s)

{0, 1, 2, 3, 4, 6, 7, 8, 9}

#17. Pop an element from a set.

In [20]:
s={1,2,3,4,5,6,7,8,9,0}
s.pop()
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#18. Check if two sets have no elements in common.

In [21]:
s={1,2,3,4,5,}
s1={6,7,8,9,1}
if len(s.intersection(s1))==0:
    print("No Common")
else:
    print("Common")

Common

#19. Find the symmetric difference between two sets.

In [22]:
s={1,2,3,4,5,6}
s1={6,7,8,9,1}
print(s1.symmetric_difference(s))
print(s1.symmetric_difference(s))

{2, 3, 4, 5, 7, 8, 9}
{2, 3, 4, 5, 7, 8, 9}


#20. Update a set with elements from another set.

In [23]:
s={1,2,3,4,5,6}
s1={6,7,2,3,5,8,9,1}
print(s.symmetric_difference_update(s1))
s

None

{4, 7, 8, 9}

#21. Create a set of the first 5 prime numbers.

In [24]:
s=set()
l=[]
count=0
for i in range(1,50):
    count=0
    for j in range(1,i):
        if(i%j==0):
            count=count+1
    if count==1:
        l.append(i)
for i in range(5):
    s.add(l[i])
s

{2, 3, 5, 7, 11}

#22. Check if two sets are identical.

In [25]:
s={1,2,3,4}
s1={1,3,5,7}
s2={4,3,2,1}
print(s==s1)
print(s==s2)

False
True


#23. Create a frozen set.

In [26]:
f=frozenset([1,2])
print(f)

frozenset({1, 2})


#24. Check if a set is disjoint with another set.

In [27]:
s={1,2,3,4,5}
s1={6,7}
print(s.isdisjoint(s1))

True

#25. Create a set of squares of numbers from 1 to 5.

In [28]:
s=set()
for i in range(1,6):
    s.add(i**2)
s

{1, 4, 9, 16, 25}

#26. Filter out all even numbers from a set.

In [29]:
s={1,2,3,4,5,6,7,8,9,10}
l=list(s)
for i in l:
    if i%2==0:
        print(i)

2
4
6
8
10


#27. Multiply all elements in a set by 2.

In [30]:
s={1,2,3,4,5}
l=[]
for i in range(1,len(s)):
    l.append(i*2)

s=set(l)
s

{2, 4, 6, 8}


#28. Create a set of random numbers.

In [31]:
import random
s=set()
n=int(input("Enter the size of set"))
for i in range(n):
    s.add(random.randint(1,100))
s

{6, 26, 41, 66, 67, 75}


#29. Check if a set is empty.

In [32]:
s={1,2,3,4,5}
if len(s)==0:
    print("Empty")
else:
    print(" NO Empty")

 NO Empty

#30. Create a nested set (hint: use frozenset).

In [33]:
s=set()
s1={1,2,3}
s2={4,5,6}
s.add(frozenset([1,2]))
s.add(frozenset([3,4]))
s.add(frozenset([5,2]))
s

{frozenset({3, 4}), frozenset({2, 5}), frozenset({1, 2})}


#31. Remove an element from a set using the discard method.

In [34]:
s={1,2,3,4,5}
s.discard(3)
print(s)

{1, 2, 4, 5}

#32. Compare two sets.

In [35]:
s={1,2,3,4,5}
s1={1,2,3,4,5}
s==s1

True


#33. Create a set from a string.

In [36]:
s="My name is Ramjee"
se=set(s)
print(se)

{'e', ' ', 'R', 'a', 'n', 'j', 'i', 'M', 'y', 'm', 's'}

#34. Convert a set of strings to a set of integers.

In [37]:
s={'1','2'}
te=set(map(int,s))
print(te)

{1, 2}

#35. Convert a set of integers to a set of strings.

In [38]:
s={1,2,3,4,5}
ts=set(map(str,s))
print(ts)

{'5', '3', '4', '2', '1'}


#36. Create a set from a tuple.

In [39]:
t=(1,2,3,4,5)
s=set(t)
print(s)
print(type(t))
print(type(s))

{1, 2, 3, 4, 5}
<class 'tuple'>
<class 'set'>

#37. Convert a set to a tuple.

In [40]:
s={1,2,3,4,5}
t=tuple(s)
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

#38. Find the maximum value in a set.

In [41]:
s={1,2,3,4,5}
print(max(s))

5


#39. Find the minimum value in a set.

In [42]:
s={1,2,3,4,5}
print(min(s))

1

#40. Create a set from user input.

In [46]:
s=set(input("Enter the set"))
print(s)

{'5', '6', '4', '8', '7'}

#41. Check if the intersection of two sets is empty.

In [47]:
s={1,2,3,4,5}
s1={6,7}
if(len(s.intersection(s1))==0):
    print("Yes")
else:
    print("NO")

Yes

#42. Create a set of the first 5 Fibonacci numbers.

In [48]:
s=set()
n,i=0,0
n1=1
while i<=5:
    nth=n+n1
    s.add(nth)
    n=n1
    n1=nth
    i+=1
s

{1, 2, 3, 5, 8, 13}

#43. Remove duplicates from a list using sets.

In [49]:
l=[1,2,3,4,5,4,3,2,1]
print(set(l))

{1, 2, 3, 4, 5}

#44. Check if two sets have the same elements, regardless of their count.

In [50]:
s={1,2,3,4,5}
s1={6,7,8,4,3,2,9,1}
l=list(s.intersection(s1))
print(len(l))

4


#45. Create a set of the first `n` powers of 2.

In [51]:
s=set()
n=int(input("Enter the number of set"))
for i in range(1,n+1):
    s.add(i**2)
s

{1, 4, 9, 16, 25}

#46. Find the common elements between a set and a list.

In [52]:
s={1,2,3,4,5}
s1={6,7,8,9,1}
print(s.intersection(s1))

{1}

#47. Create a set of the first `n` triangular numbers.

In [53]:
s=set()
n=int(input("Enter the number of set"))
sum=0
for i in range(n):
    sum=sum+i
    s.add(sum)
print(s)

{0, 1, 3, 6}

#48. Check if a set contains another set as a subset.

In [60]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

#49. Create a set of alternating 1s and 0s of length `n`.

In [55]:
s=set()
n=int(input("Enter the number of set"))
for i in range(1,n+1):
    if(i%2==0):
        s.add(1)
    else:
        s.add(0)
print(s)

{0, 1}

#50. Merge multiple sets into one.

In [59]:
set1 = {10, 20, 30}
set2 = {30, 40, 50}
set3 = {500, 60, 700}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {50, 20, 500, 60, 40, 10, 700, 30}