In [1]:
#17 Sept Class

In [2]:
# function (reusable -bind the entire identity with certain name)
def test():
    print("This is my first function")

In [3]:
test()

This is my first function

In [4]:
test()

This is my first function

In [5]:
test()+"ramjee"

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [6]:
# str(test())+"ramjee"
type(test())

This is my first function

NoneType

In [7]:
str(test())+"ramjee"

This is my first function

'Noneramjee'

In [8]:
def test2():
    print(1+2)

In [9]:
test2()

3

In [11]:
# print give non type output always in any function
test2()+10

3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [12]:
def test3():
    return 1+2

In [13]:
test3()

3

In [14]:
test3()+10

13

In [15]:
# return always give data as it it that why test3() giive output 13

In [16]:
type(test3())

int

In [17]:
def test4():
    return 2 ,"ramjee", True, [1,2,3,4]

In [18]:
test4()

(2, 'ramjee', True, [1, 2, 3, 4])

In [19]:
# way to declare variable
a,b,c,d = 1 , "ramjee",34,45

In [20]:
a = 1
b = "ramjee"
c = 34
d = 45

In [22]:
type(test4()) # multiple output give typles

tuple

In [23]:
m,n,o,p = test4() # we can define output

In [24]:
m # call

2

In [25]:
n

'ramjee'

In [26]:
o

True

In [27]:
p

[1, 2, 3, 4]

In [28]:
def test5(x): # pass any kind of data x is called argument/placeholder
    return x

In [29]:
test5(5)

5

In [30]:
test5("ramjee")

'ramjee'

In [31]:
test5("True")

'True'

In [33]:
test5([2,3,5])

[2, 3, 5]

In [34]:
test5(4,5) # two ar not possible

TypeError: test5() takes 1 positional argument but 2 were given

In [35]:
test5() # blank not possible

TypeError: test5() missing 1 required positional argument: 'x'

In [36]:
def test6(x,y):
    return x,y

In [38]:
test6(5,"ramjee")

(5, 'ramjee')

In [39]:
test6("ramjee",[2,5,6])

('ramjee', [2, 5, 6])

In [40]:
def test7(a:int,b:int):
    return a,b
    # we can dfine datatype

In [41]:
test7(4,5)

(4, 5)

In [42]:
test7("ramjee",[4,5,6,7])

('ramjee', [4, 5, 6, 7])

In [43]:
def test8(x:int,y:int):
    return x/y

In [44]:
test8(9,3)

3.0

In [45]:
test8("ramjee","siya")  # shft tab to view def

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [47]:
def test9(c,d):
    return c+d

In [48]:
test9(4,5)

9

In [49]:
print()

In [50]:
def test9(c,d):
    """ this is function can take two input and return a addition or concatination"""
    return c+d

In [51]:
test9()  # this will show doc string which define function usability

TypeError: test9() missing 2 required positional arguments: 'c' and 'd'

def test10():  # pass any no of arg ?

In [52]:
def test10(*args):
    return args

In [53]:
test10()

()

In [54]:
test10(1,2,5,8,9)

(1, 2, 5, 8, 9)

In [55]:
def test11(*ramjee):
    return ramjee

In [56]:
test11(3,5,8)

(3, 5, 8)

In [58]:
def test12(**kwargs):  # ** pass key and val pair
    return kwargs

In [59]:
test12(a=4,b=6)

{'a': 4, 'b': 6}

In [60]:
test12(a=4,b=6,c="python")

{'a': 4, 'b': 6, 'c': 'python'}