In [2]:
# TOPIC: String Based Assignment Problem >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

#1. Write a program to reverse a string.

a1 = "pwskills"
a1[::-1]

'sllikswp'

In [10]:
#2. Check if a string is a palindrome.

a2 = str(input('letter: '))
if(a2==a2[::-1]):  
      print("The letter is a palindrome")  
else:  
      print("The letter is not a palindrome")

letter:  MOMs

The letter is not a palindrome

In [14]:
#3. Convert a string to uppercase.

a3 = str(input('userinput: '))
print('output: ' ,a3.upper())

userinput:  pwskills

output:  PWSKILLS

In [19]:
#4. Convert a string to lowercase.

a4 = str(input('userinput: '))
print('output: ' ,a4.lower())

userinput:  PWSKILLS

output:  pwskills

In [32]:
#5. Count the number of vowels in a string.

a5 = str(input('userinput: '))
vowels = "aeiouAEIOU"
 
count = sum(a5.count(vowel) for vowel in vowels)
print('No. of vowels: ',count)

userinput:  ABCDqEEN

No. of vowels:  3

In [1]:
#6. Count the number of consonants in a string.

a6 = str(input('userinput: '))
vowels = "aeiouAEIOU"

result = [v for v in a6 if v not in vowels]

print("No. of consonants: ", len(result))

userinput:  MY name is BRAJA Gopal Das

No. of consonants:  18

In [4]:
#7. Remove all whitespaces from a string.

a7 = str(input('userinput: '))
print('otput: ' ,a7.replace(" ", ""))

userinput:  my   name   is        braja          gopal

otput:  mynameisbrajagopal

In [13]:
#8. Find the length of a string without using the `len()` function.

a8 = str(input('userinput: '))

count = 0

for i in a8:
    count+=1
print('length:',count)

userinput:  abcd

length: 4

In [30]:
#9. Check if a string contains a specific word.

strings = ['My name is Braja', 'I am from Jharkhand', 'Working in Infosys']

for s in strings:
    if 'Infosys' in s:
        print('Infosys in string')
    else:
        print('Infosys not in string')

Infosys not in string
Infosys not in string
Infosys in string

In [36]:
#10. Replace a word in a string with another word.

a10 = str(input('userinput: '))
print('output: ' ,a10.replace('a','o'))

userinput:  braja gopal

output:  brojo gopol

In [38]:
#11. Count the occurrences of a word in a string.

a11 = str(input('userinput: '))
print('output: ' ,a11.count('a'))

userinput:  braja

output:  2

In [45]:
#12. Find the first occurrence of a word in a string.

a12 = str(input('userinput: '))
print('first occurance: ', a12.find('of'))

userinput:  what is the use of internet

first occurance:  16

In [50]:
#13. Find the last occurrence of a word in a string.

a13 = str(input('userinput: '))
print('last occurance: ', a13.rfind('of'))

userinput:  what is th use of internet and of

last occurance:  31

In [58]:
#14. Split a string into a list of words.

a14 = str(input('userinput: '))
print('split: ', a14.split())

userinput:  braja gopal das

split:  ['braja', 'gopal', 'das']

In [3]:
#15. Join a list of words into a string.

text = ['Python', 'is', 'a', 'fun', 'programming', 'language']

# join with space
print('output: ',' '.join(text))

output:  Python is a fun programming language

In [8]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

my_str = "I have joind pwskills classes"

result = my_str.replace(' ', '_')

print(result)

I_have_joind_pwskills_classes

In [16]:
#17. Check if a string starts with a specific word or phrase.

a17 = (input('userinput: '))

print(a17.startswith("pwskills"))
print(a17.startswith("Hello!"))

userinput:  pwskills classes are running on weekend

True
False

In [20]:
#18. Check if a string ends with a specific word or phrase.

a18 = (input('userinput: '))

print(a18.endswith("das"))
print(a18.endswith("world"))

userinput:  hello world

False
True

In [23]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

a19 = (input('userinput: '))
print('Title Case: ', a19.title())

userinput:  hello world

Title Case:  Hello World

In [26]:
#20. Find the longest word in a string.

a20 = (input('userinput: '))

word_list = a20.split()
longest_word = max(word_list, key = len)

print("Longest word: ",longest_word)

userinput:  my name is braja from jharkhand

Longest word:  jharkhand

In [28]:
#21. Find the shortest word in a string.

a21 = (input('userinput: '))

word_list = a21.split()
shortest_word = min(word_list, key = len)

print("Shortest word: ",shortest_word)

userinput:  my name gopal Das

Shortest word:  my

In [31]:
#22. Reverse the order of words in a string.

a22 = (input('userinput: '))

words = a22.split()
## reversing the words using reversed() function

words = list(reversed(words))
## joining the words and printing

print(" ".join(words))

userinput:  i am braja gopal das

das gopal braja am i

In [34]:
#23. Check if a string is alphanumeric.

a22 = (input('userinput: '))
print('String is alphanuumeric: ', a22.isalnum())

userinput:  pwskillls

String is alphanuumeric:  True

In [35]:
#24. Extract all digits from a string.

a23 = (input('userinput: '))

# using List comprehension + isdigit() +split()
# getting numbers from string
result = [int(i) for i in a23.split() if i.isdigit()]
 
print("The numbers list is :" + str(result))

userinput:  i have 2 apple and 3 banana

The numbers list is :[2, 3]

In [41]:
#25. Extract all alphabets from a string.

def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets

# Example input string
input_string = "Hello123World456"
result = extract_alphabets(input_string)
print(result)

H e l l o W o r l d

In [47]:
#26. Count the number of uppercase letters in a string.
#27. Count the number of lowercase letters in a string.

Str="PWSkillsDataSciencePRO"

upper=0
lower=0

for i in Str:
	if(i.isupper()):
			upper+=1
	else:
			lower+=1
            
print("The number of uppercase characters is:",upper)
print("The number of lowercase characters is:",lower)

The number of uppercase characters is: 8
The number of lowercase characters is: 14

In [50]:
#28. Swap the case of each character in a string.

a28 = "PWSkills Classes....WoW!!!";
print(a28.swapcase())

pwsKILLS cLASSES....wOw!!!

In [54]:
#29. Remove a specific word from a string.

z1 = "remove word from this"
z2 = z1.replace("word", '')
print(z2)

remove  from this

In [1]:
#30. Check if a string is a valid email address.

import re  # Import the regular expression module

def solve(s):
   pat = "^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{1,3}$"
   if re.match(pat,s):
      return True
   return False

s = "popular_website15@comPany.com"
print(solve(s))

True

In [8]:
#31. Extract the username from an email address string.
#32. Extract the domain name from an email address string.

# initializing strings
test_str = 'braja.das@pwskills.com'

# printing original string
print("The original string is : " + str(test_str))

# using split() to get username & domain name
res = test_str.split('@')[0]
res1 = test_str.split('@')[-1]

# printing result
print("The extracted user name : " + str(res)) 
print("The extracted domain name : " + str(res1))

The original string is : braja.das@pwskills.com
The extracted user name : braja.das
The extracted domain name : pwskills.com

In [12]:
#33. Replace multiple spaces in a string with a single space.

a33 = input('userinput: ')

result = " ".join(a33.split()) 

print('Output: ',result)

userinput:  my name  is    king    khan

Output:  my name is king khan
'my name is king khan'

In [9]:
#34. Check if a string is a valid URL.

from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.pwskills.com"
url2 = "htt//goole.in"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print('Output1:',result1)  # Should print True
print('Output2:',result2)  # Should print False

Output1: True
Output2: False

In [13]:
#35. Extract the protocol (http or https) from a URL string.

def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url11 = "https://www.pwskills.com"
url22 = "http://data-science-pro.com"
url33 = "//ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url11)
protocol2 = extract_protocol(url22)
protocol3 = extract_protocol(url33)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: None

In [14]:
#36. Find the frequency of each character in a string.

def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [15]:
#37. Remove all punctuation from a string.

import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [17]:
#38. Check if a string contains only digits.

a38 = input('userinput:')

print('Output:',a38.isdigit())   #using the in-built isdigit() method

userinput: 7568

Output: True

In [20]:
#39. Check if a string contains only alphabets.

a39 = input('userinput:')

print('Output:',a39.isalpha())   #using the in-built isalpha() method

userinput: pwskills

Output: True

In [29]:
#40. Convert a string to a list of characters.

string = "pwskills-DS-PRO"
print([*string])           #unpack(*) method

['p', 'w', 's', 'k', 'i', 'l', 'l', 's', '-', 'D', 'S', '-', 'P', 'R', 'O']

In [34]:
#41. Check if two strings are anagrams.

def check(s11, s22):
	
	# the sorted strings are checked
	if(sorted(s11) == sorted(s22)):
		print("The strings are anagrams.")
	else:
		print("The strings aren't anagrams.")		
		
# driver code
s11 ="listen"
s22 ="silent"
check(s11, s22)

The strings are anagrams.

In [12]:
#42. Encode a string using a Caesar cipher.

def encrypt_text(plaintext,n):
    ans = ""
    # iterate over the given text
    for i in range(len(plaintext)):
        ch = plaintext[i]
        
        # check if space is there then simply add space
        if ch==" ":
            ans+=" "
        # check if a character is uppercase then encrypt it accordingly 
        elif (ch.isupper()):
            ans += chr((ord(ch) + n-65) % 26 + 65)
        # check if a character is lowercase then encrypt it accordingly
        
        else:
            ans += chr((ord(ch) + n-97) % 26 + 97)
    
    return ans

plaintext = "HELLO EVERYONE"
n = 1
print("Plain Text is : " + plaintext)
print("Shift pattern is : " + str(n))
print("Cipher Text is : " + encrypt_text(plaintext,n))

Plain Text is : HELLO EVERYONE
Shift pattern is : 1
Cipher Text is : IFMMP FWFSZPOF

In [17]:
#43. Decode a Caesar cipher encoded string.

import string
import sys

# The word to be encoded shifts by 5 to the right, while the word to be decoded shifts by 5 to the left.
shift = 5

print(' Caesar Cipher '.center(40, '*'))
choices = ['e', 'd']
user_choice = input('Do you wish to [e]ncode, [d]ecode, or quit (any other letter)?: ').lower()

if user_choice not in choices:
    print('Program closed.')
    sys.exit()

word = input('Enter the word: ')


# ENCODING FUNCTION
def encode_words(words, shifts):
    """This encodes a word using Caesar cipher."""

    # Variable for storing the encoded word.
    encoded_word = ''

    for i in words:

        # Check for space and tab
        if ord(i) == 32 or ord(i) == 9:
            shifted_word = ord(i)

        # Check for punctuations
        elif i in string.punctuation:
            shifted_word = ord(i)

        # Check if the character is lowercase or uppercase
        elif i.islower():
            shifted_word = ord(i) + shifts

            # Lowercase spans from 97 to 122 (decimal) on the ASCII table
            # If the chars exceeds 122, we get the number it uses to exceed it and add to 96 (the character before a)
            if shifted_word > 122:
                shifted_word = (shifted_word - 122) + 96

        else:
            shifted_word = ord(i) + shifts

            # Uppercase spans from 65 to 90 (decimal) on the ASCII table
            # If the chars exceeds 90, we get the number it uses to exceed it and add to 64 (the character before A)
            if shifted_word > 90:
                shifted_word = (shifted_word - 90) + 64

        encoded_word = encoded_word + chr(shifted_word)

    print('Word:', word)
    print('Encoded word:', encoded_word)


# DECODING FUNCTION
def decode_words(words, shifts):
    """This decodes a word using Caesar cipher"""

    # Variable for storing the decoded word.
    decoded_word = ''

    for i in words:

        # Check for space and tab
        if ord(i) == 32 or ord(i) == 9:
            shifted_word = ord(i)

        # Check for punctuations
        elif i in string.punctuation:
            shifted_word = ord(i)

        # Check if the character is lowercase or uppercase
        elif i.islower():
            shifted_word = ord(i) - shifts

            # If the char is less 122, we get difference subtract from 123 (the character after z)
            if shifted_word < 97:
                shifted_word = (shifted_word - 97) + 123

        else:
            shifted_word = ord(i) - shifts

            # If the char is less 65, we get difference and subtract from 91 (the character after Z)
            if shifted_word < 65:
                shifted_word = (shifted_word - 65) + 91

        decoded_word = decoded_word + chr(shifted_word)

    print('Word:', word)
    print('Decoded word:', decoded_word)


def encode_decode(words, shifts, choice):
    """This checks if the users want to encode or decode, and calls the required function."""

    if choice == 'e':
        encode_words(words, shifts)
    elif choice == 'd':
        decode_words(words, shifts)


encode_decode(word, shift, user_choice)

************ Caesar Cipher *************

Do you wish to [e]ncode, [d]ecode, or quit (any other letter)?:  d
Enter the word:  decode

Word: decode
Decoded word: yzxjyz

In [19]:
#44. Find the most frequent word in a string.

# Using loop + max() + split() + defaultdict()
from collections import defaultdict

# initializing Matrix
test_list = ["python is best for coders", "python is fun", "python is easy to learn"]

# printing original list
print("The original list is : " + str(test_list))

temp = defaultdict(int)

# memoizing count
for sub in test_list:
	for wrd in sub.split():
		temp[wrd] += 1

# getting max frequency
res = max(temp, key=temp.get)

# printing result
print("Word with maximum frequency : " + str(res))

The original list is : ['python is best for coders', 'python is fun', 'python is easy to learn']
Word with maximum frequency : python

In [20]:
#45. Find all unique words in a string.

def printWords(l):
     
    # for loop for iterating
    for i in l:
        print(i)
 
 
# Driver code
str = "Python is great and Java is also great"
 
# storing string in the form of list of words
s = set(str.split(" "))
 
# passing list to print words function
printWords(s)

and
Python
Java
great
is
also

In [25]:
#46. Count the number of syllables in a string.

import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [27]:
#47. Check if a string contains any special characters.

def has_special_char(s):
	for c in s:
		if not (c.isalpha() or c.isdigit() or c == ' '):
			return True
	return False


# Test the function
s = "Hello World"
if has_special_char(s):
	print("o/p 1 : The string contains special characters.")
else:
	print("o/p 1 : The string does not contain special characters.")

s = "Hello@World"
if has_special_char(s):
	print("o/p 2 : The string contains special characters.")
else:
	print("o/p 2 : The string does not contain special characters.")

o/p 1 : The string does not contain special characters.
o/p 2 : The string contains special characters.

In [50]:
#48. Remove the nth word from a string.

def removechar(str1, n):
	x = str1[ : n]
	y = str1[n + 1: ]
	return x + y

# Driver Code
if __name__ == '__main__':
	str1 = input("Enter a String =")
	n = int(input("Enter the n-th index ="))

print("The new string =\n")
print(removechar(str1, n))

Enter a String = Gooogle
Enter the n-th index = 2

The new string =

Google

In [56]:
#49. Insert a word at the nth position in a string.

# Input string
original_str = 'DataScienceBatch'

# Substring to add
add_str = 'Pro'

# Index to add substring
index = 11

# Adding substring
result_str = f"{original_str[:index]}{add_str}{original_str[index:]}"

print('Output:',result_str)

Output: DataScienceProBatch

In [58]:
#50. Convert a CSV string to a list of lists.

def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [1]:
#List Based Practice Problem : >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

#1. Create a list with integers from 1 to 10.

def createList(r1, r2):
	return list(range(r1, r2+1))
	
# Driver Code
r1, r2 = 1, 10
print(createList(r1, r2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
#2. Find the length of a list without using the `len()` function.

#take user input
string = 'Hello'

count = 0

for i in string:
 
    count+=1
print(count)

5

In [6]:
#3. Append an element to the end of a list.

my_list = ['pwskills', 'classes', 'on']
my_list.append('weekend')
print (my_list)

['pwskills', 'classes', 'on', 'weekend']

In [10]:
#4. Insert an element at a specific index in a list.

# List of string 
list1 = ['pwskills' ,  'classes', 'mainly', 'on', 'weekend', 'basic']

# Add an element at 3rd position in the list
list1.insert(3, 'running')

print(list1)

['pwskills', 'classes', 'mainly', 'running', 'on', 'weekend', 'basic']

In [16]:
#5. Remove an element from a list by its value.

list2 = ['pwskills' ,  'classes', 'mainly', 'running', 'on', 'weekend', 'basic']

list2.remove('running')

print(list2)

['pwskills', 'classes', 'mainly', 'on', 'weekend', 'basic']

In [17]:
#6. Remove an element from a list by its index.

list3 = ['pwskills' ,  'classes', 'mainly', 'running', 'on', 'weekend', 'basic']

del list3[3]

print(list3)

['pwskills', 'classes', 'mainly', 'on', 'weekend', 'basic']

In [18]:
#7. Check if an element exists in a list.

list7=[ 1, 6, 3, 5, 3, 4 ]

#checking if element 7 is present or not
i=7

# if element present then return 
if i in list7:
	print("exist")
else:
	print("not exist")

not exist

In [21]:
#8. Find the index of the first occurrence of an element in a list.

# list of items
list8 = ['cat', 'bat', 'mat', 'rat', 'pet']

element_to_find = 'mat'

index = list8.index(element_to_find)

# index of 'mat' in list2
print(f"The index of {element_to_find} is {index}")

The index of mat is 2

In [49]:
#9. Count the occurrences of an element in a list.

my_list9 = [ 10 , 20 , 30 , 40 , 50 , 40 , 30 , 40 , 40 ]
element_to_count = 40
index = my_list9.count(element_to_count)
print('Occurance of 40 is',index,'times')

Occurance of 40 is 4 times

In [59]:
#10. Reverse the order of elements in a list.

In [70]:
my_list10 = ["apple1", "banana2", "cherry3", "date4"]

#reversed_list 
my_list10[::-1]

['date4', 'cherry3', 'banana2', 'apple1']

In [3]:
#11. Sort a list in ascending order.

numbers = [1, 3, 4, 2]

# Sorting list of Integers in ascending
numbers.sort()
print('output:', numbers)

output: [1, 2, 3, 4]

In [6]:
#12. Sort a list in descending order.

str1 = ['Ram' , 'Shyam' , 'Gita' , 'Amy' , 'Zolly']

# Sorting in descending
str1.sort(reverse=True)

print('output:',str1)

output: ['Zolly', 'Shyam', 'Ram', 'Gita', 'Amy']

In [10]:
#13. Create a list of even numbers from 1 to 20.

start = int(input("Start range: "))
end = int(input("End range: "))

# iterating each number in list
for num in range(start, end + 1):

	# checking condition
	if num % 2 == 0:
		print(num, end=" ")

Start range:  1
End range:  20

2 4 6 8 10 12 14 16 18 20

In [11]:
#14. Create a list of odd numbers from 1 to 20.

start = int(input("Start range: "))
end = int(input("End range: "))

# iterating each number in list
for num in range(start, end + 1):

	# checking condition
	if num % 2 == 1:
		print(num, end=" ")

Start range:  1
End range:  20

1 3 5 7 9 11 13 15 17 19

In [16]:
#15. Find the sum of all elements in a list.

my_list15 = [2,5,6,8,11,5]

Total = sum(my_list15)  #using sum() func.

print('Total:',Total)

Total: 37

In [17]:
#16. Find the maximum value in a list.

my_list16 = [2,25,61,8,11,50]

Maximum_value = max(my_list16)  #using max() func.

print('Maximum Value is:',Maximum_value)

Maximum Value is: 61

In [23]:
#Find the minimum value in a list.

my_list17 = [7,35,61,8,41,50]

Minimum_value = min(my_list17)  #using min() func.

print('Minimum Value is:',Minimum_value)

Minimum Value is: 7

In [26]:
#18. Create a list of squares of numbers from 1 to 10.

list18 = []

for i in range(1, 10):
    list18.append(i * i)

print("List of squares of numbers from 1 to 10:",list18)

List of squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
#19. Create a list of random numbers.

import random
 
# generate random no. using random.sample()
res = random.sample(range(1, 50), 7)

print ("Random no. list is: " +  str(res))

Random no. list is: [18, 9, 11, 49, 7, 29, 42]

In [4]:
#20. Remove duplicates from a list.

# initializing list
test_list = [1, 5, 3, 6, 3, 5, 6, 2]
print ("The original list is : "
		+ str(test_list))

# using set() to remove duplicated from list
test_list = list(set(test_list))

# distorted ordering
print ("The list after removing duplicates : "
		+ str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 2]
The list after removing duplicates : [1, 2, 3, 5, 6]

In [8]:
#21. Find the common elements between two lists.

# in two lists to find the common elements
def common_member(a, b):
	a_set = set(a)
	b_set = set(b)

	if (a_set & b_set):
		print(a_set & b_set)
	else:
		print("No common elements")
		

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_member(a, b)

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 0]
common_member(a, b)

{5}
No common elements

In [10]:
#22. Find the difference between two lists.

li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]

temp3 = []
for element in li1:
	if element not in li2:
		temp3.append(element)

print('Result:',temp3)

Result: [10, 15, 20, 30]

In [14]:
#23. Merge two lists.

# Initializing lists
test_list3 = [1, 4, 5, 6, 5]
test_list4 = [9, 5, 7, 2, 5]

# using + operator to concat
test_list3 = test_list3 + test_list4

# Printing concatenated list
print ("Concatenated list using + : " + str(test_list3))

Concatenated list using + : [1, 4, 5, 6, 5, 9, 5, 7, 2, 5]

In [31]:
#24. Multiply all elements in a list by 2.

import math

my_list24 = [2, 3, 6]

result24 = [item * 2 for item in my_list24]

print(result24)

[4, 6, 12]

In [32]:
#25. Filter out all even numbers from a list.

# input
lis = [3, 6, 8, 11, 13, 22, 30]

# Output list initialisation
out = []

for num in lis:

	# checking condition
	if num % 2 == 0:
		out.append(num)

# printing output
print('Even no.:',out)

Even no.: [6, 8, 22, 30]

In [1]:
#26. Convert a list of strings to a list of integers.

# Example list of strings
string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

In [2]:
#27. Convert a list of integers to a list of strings.

integer_list = [10, 20, 30, 40, 50]

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [3]:
#28. Flatten a nested list.

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#29. Create a list of the first 10 Fibonacci numbers.

def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

In [6]:
#30. Check if a list is sorted.

def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [11, 21, 31, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [8]:
#31. Rotate a list to the left by `n` positions.

def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 3

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [4, 5, 6, 1, 2, 3]

In [9]:
#32. Rotate a list to the right by `n` positions.

def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [10]:
#33. Create a list of prime numbers up to 50.

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [11]:
#34. Split a list into chunks of size `n`.

def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [12]:
#35. Find the second largest number in a list.

my_list35 = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list35))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [13]:
#36. Replace every element in a list with its square.

my_list36 = [2, 4, 6, 8, 10]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list36]

# Print the squared list
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

In [14]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

my_list37 = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list37)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [16]:
#38. Shuffle the elements of a list randomly.

import random

my_list38 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list38)

# Print the shuffled list
print("Shuffled list:", my_list38)

Shuffled list: [2, 1, 3, 10, 6, 9, 7, 4, 5, 8]

In [17]:
#39. Create a list of the first 10 factorial numbers.

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [21]:
#40. Check if two lists have at least one element in common.

def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list91 = [1, 2, 3, 4, 5]
list92 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list91, list92):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [23]:
#41. Remove all elements from a list.

my_list41 = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list41.clear()

# Print the empty list
print("Empty list:", my_list41)

Empty list: []

In [24]:
#42. Replace negative numbers in a list with 0.

my_list42 = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list42)):
    if my_list42[i] < 0:
        my_list42[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list42)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [25]:
#43. Convert a string into a list of words.

my_string1 = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list1 = my_string1.split()

# Print the list of words
print("List of words:", word_list1)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [26]:
#44. Convert a list of words into a string.

word_list44 = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string44 = " ".join(word_list44)

# Print the resulting string
print("Converted string:", my_string44)

Converted string: Hello, this is a sample sentence.

In [27]:
#45. Create a list of the first `n` powers of 2.

# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list1 = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list1)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [30]:
#46. Find the longest string in a list of strings.

string_list46 = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list46:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

In [31]:
#47. Find the shortest string in a list of strings.

string_list47 = ["apple", "cherry", "banana", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list47[0]  # Initialize with the first string
for s in string_list47:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

In [32]:
#48. Create a list of the first `n` triangular numbers.

def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [33]:
#49. Check if a list contains another list as a subsequence.

def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [38]:
#50. Swap two elements in a list by their indices.

my_list50 = [1, 6, 8, 2, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list50[index1]
my_list50[index1] = my_list50[index2]
my_list50[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list50)

List after swapping elements: [1, 2, 8, 6, 5]

In [39]:
# Tuple Based Practice Problem : >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

#1. Create a tuple with integers from 1 to 5.

# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Access the third element of the tuple
third_element = my_tuple[2]

# Explanation: In this line, we use indexing to access the third element of the tuple.
# Since indexing is 0-based, the third element is at index 2.

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

In [40]:
#2. Access the third element of a tuple.

# Step 1: Create a tuple with some elements
my_tuple2 = (10, 20, 30, 40, 50)

# Step 2: Access the third element (index 2) of the tuple
third_element = my_tuple2[2]

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

In [42]:
#3. Find the length of a tuple without using the `len()` function.

# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Initialize a variable to count the elements
count = 0

# Step 3: Iterate through the tuple and increment the count for each element
for _ in my_tuple:
    count += 1

# Step 4: Print the length of the tuple
print("The length of the tuple is:", count)

The length of the tuple is: 5

In [43]:
#4. Count the occurrences of an element in a tuple.

# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50, 20)

# Step 2: Choose the element to count occurrences of
element_to_count = 20

# Step 3: Initialize a variable to keep track of the count
count = 0

# Step 4: Iterate through the tuple and count occurrences of the chosen element
for item in my_tuple:
    if item == element_to_count:
        count += 1

# Step 5: Print the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

In [45]:
#5. Find the index of the first occurrence of an element in a tuple.

# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50)

# Step 2: Choose the element to find the index of
element_to_find = 20

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [46]:
#6. Check if an element exists in a tuple.

# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Choose the element to check for existence
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

In [47]:
#7. Convert a tuple to a list.

# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)

# Step 3: Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

In [48]:
#8. Convert a list to a tuple.

# Step 1: Create a list
my_list = [10, 20, 30, 40, 50]

# Step 2: Convert the list to a tuple
my_tuple = tuple(my_list)

# Step 3: Print the resulting tuple
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

In [49]:
#9. Unpack the elements of a tuple into variables.

# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [50]:
#10. Create a tuple of even numbers from 1 to 10.

# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [51]:
#11. Create a tuple of odd numbers from 1 to 10.

# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [52]:
#12. Concatenate two tuples.

# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Step 3: Print the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [54]:
#13. Repeat a tuple three times.

# Step 1: Create a tuple
original_tuple = (1, 2, 3)

# Step 2: Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Step 3: Print the repeated tuple
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [55]:
#14. Check if a tuple is empty.

# Step 1: Create an empty tuple and a non-empty tuple
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [57]:
#15. Create a nested tuple.

# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [58]:
#16. Access the first element of a nested tuple.

# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [59]:
#17. Create a tuple with a single element.

# Step 1: Create a tuple with a single element
single_element_tuple = (42,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

In [60]:
#18. Compare two tuples.

# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [62]:
#19. Delete a tuple.

# Step 1: Create a tuple
my_tuple11 = (1, 2, 3, 4, 5)

# Step 2: Delete the tuple using the 'del' statement
del my_tuple11

# Step 3: Try to access the tuple (will raise a NameError)
print(my_tuple11)

NameError: name 'my_tuple11' is not defined

In [63]:
#20. Slice a tuple.

# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Step 2: Slice the tuple to get a portion of it
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)

# Step 3: Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [64]:
#21. Find the maximum value in a tuple.

# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the maximum value in the tuple using the 'max()' function
max_value = max(my_tuple)

# Step 3: Print the maximum value
print("Maximum value:", max_value)

Maximum value: 45

In [65]:
#22. Find the minimum value in a tuple.

# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the minimum value in the tuple using the 'min()' function
min_value = min(my_tuple)

# Step 3: Print the minimum value
print("Minimum value:", min_value)

Minimum value: 5

In [66]:
#23. Convert a string to a tuple of characters.

# Step 1: Create a string
my_string = "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Step 3: Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [67]:
#24. Convert a tuple of characters to a string.

# Step 1: Create a tuple of characters
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Step 2: Convert the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)

# Step 3: Print the resulting string
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [68]:
#25. Create a tuple from multiple data types.

# Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [69]:
#26. Check if two tuples are identical.

# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [70]:
#27. Sort the elements of a tuple.

# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [71]:
#28. Convert a tuple of integers to a tuple of strings.

# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [72]:
#29. Convert a tuple of strings to a tuple of integers.

# Step 1: Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [73]:
#30. Merge two tuples.

# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [74]:
#31. Flatten a nested tuple.

# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [75]:
#32. Create a tuple of the first 5 prime numbers.

# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [76]:
#33. Check if a tuple is a palindrome.

# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [77]:
#34. Create a tuple of squares of numbers from 1 to 5.

# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [78]:
#35. Filter out all even numbers from a tuple.

# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [79]:
#36. Multiply all elements in a tuple by 2.

# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(num * 2 for num in original_tuple)

# Print the doubled tuple
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [80]:
#37. Create a tuple of random numbers.

import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (31, 10, 93, 100, 40, 81, 72, 82, 91, 57)

In [81]:
#38. Check if a tuple is sorted.

# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [82]:
#39. Rotate a tuple to the left by `n` positions.

def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [83]:
#40. Rotate a tuple to the right by `n` positions.

def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [84]:
#41. Create a tuple of the first 5 Fibonacci numbers.

# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [86]:
#42. Create a tuple from user input.

# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  ram, sita

User input tuple: ('ram', ' sita')

In [87]:
#43. Swap two elements in a tuple.

# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [88]:
#44. Reverse the elements of a tuple.

# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [90]:
#45. Create a tuple of the first `n` powers of 2.

# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [91]:
#46. Find the longest string in a tuple of strings.

# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

In [92]:
#47. Find the shortest string in a tuple of strings.

# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [93]:
#48. Create a tuple of the first `n` triangular numbers.

# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [94]:
#49. Check if a tuple contains another tuple as a subsequence.

# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [95]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [96]:
# Set Based Practice Problem : >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

#1. Create a set with integers from 1 to 5.

# Step 1: Create an empty set
my_set = set()

# Step 2: Add integers from 1 to 5 to the set
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

# Step 3: Print the final set
print(my_set)## Set based problems:

{1, 2, 3, 4, 5}

In [97]:
#2. Add an element to a set.

# Step 1: Create a set
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Add an element to the set
element_to_add = 6
my_set.add(element_to_add)

# Step 4: Display the modified set
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

In [98]:
#3. Remove an element from a set.

# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Print the original set
print("Original Set:", my_set)

# Step 3: Choose an element to remove
element_to_remove = 3

# Step 4: Use the remove() method to remove the chosen element
# Note: If the element is not present in the set, remove() raises a KeyError.
my_set.remove(element_to_remove)

# Step 5: Print the modified set after removal
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [100]:
#4. Check if an element exists in a set.

# Step 1: Create a set with some elements
my_set = {1, 3, 5, 7, 9}

# Step 2: Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  4

4 does not exist in the set.

In [101]:
#5. Find the length of a set without using the `len()` function.

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

In [102]:
#6. Clear all elements from a set.

# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Clear all elements from the set using the clear() method
my_set.clear()

# Step 4: Display the set after clearing
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [103]:
#7. Create a set of even numbers from 1 to 10.

# Step 1: Initialize an empty set
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Step 3: Check if the number is even
    if num % 2 == 0:
        # Step 4: Add the even number to the set
        even_numbers_set.add(num)

# Step 5: Print the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [104]:
#8. Create a set of odd numbers from 1 to 10.

# Step 1: Initialize an empty set to store odd numbers.
odd_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10.
for num in range(1, 11):
    # Step 3: Check if the current number is odd.
    if num % 2 != 0:
        # Step 4: If the number is odd, add it to the set.
        odd_numbers_set.add(num)

# Step 5: Print the final set of odd numbers.
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [105]:
#9. Find the union of two sets.

# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
union_result = set1.union(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [106]:
#10. Find the intersection of two sets.

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection using the intersection() method
intersection_result = set1.intersection(set2)

# Print the original sets and the intersection
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

In [107]:
#11. Find the difference between two sets.

# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between the sets using the difference() method
difference_set = set1.difference(set2)

# Print the original sets and the difference set
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [108]:
#12. Check if a set is a subset of another set.

# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [109]:
#13. Check if a set is a superset of another set.

# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [110]:
#14. Create a set from a list.

# Step 1: Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]

# Step 2: Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

# Step 3: Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [111]:
#15. Convert a set to a list.

# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [112]:
#16. Remove a random element from a set.

import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 5 : {1, 2, 3, 4}

In [113]:
#17. Pop an element from a set.

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [114]:
#18. Check if two sets have no elements in common.

# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [115]:
#19. Find the symmetric difference between two sets.

# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [116]:
#20. Update a set with elements from another set.

# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [117]:
#21. Create a set of the first 5 prime numbers.

# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [118]:
#22. Check if two sets are identical.

# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [119]:
#23. Create a frozen set.

# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [120]:
#24. Check if a set is disjoint with another set.

# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [122]:
#25. Create a set of squares of numbers from 1 to 5.

# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

In [1]:
#26. Filter out all even numbers from a set.

# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [2]:
#27. Multiply all elements in a set by 2.

# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [3]:
#28. Create a set of random numbers.

# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {36, 7, 54, 22, 61}

In [4]:
#29. Check if a set is empty.

# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [5]:
#30. Create a nested set (hint: use frozenset).

# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [6]:
#31. Remove an element from a set using the discard method.

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [7]:
#32. Compare two sets.

# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [8]:
#33. Create a set from a string.

# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'e', 'o', 'h', 'l'}

In [9]:
#34. Convert a set of strings to a set of integers.

# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '123', '789'}
Converted Integer Set: {456, 123, 789}

In [10]:
#35. Convert a set of integers to a set of strings.

# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'2', '3', '4', '5', '1'}

In [11]:
#36. Create a set from a tuple.

# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

In [12]:
#37. Convert a set to a tuple.

# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [13]:
#38. Find the maximum value in a set.

# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

In [14]:
#39. Find the minimum value in a set.

# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [16]:
#40. Create a set from user input.

# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  11, 5, 8, 21
>  done

Final set: {'11, 5, 8, 21'}

In [17]:
#41. Check if the intersection of two sets is empty.

# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [18]:
#42. Create a set of the first 5 Fibonacci numbers.

# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [19]:
#43. Remove duplicates from a list using sets.

# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [20]:
#44. Check if two sets have the same elements, regardless of their count.

def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [21]:
#45. Create a set of the first `n` powers of 2.

def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [22]:
#46. Find the common elements between a set and a list.

# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [24]:
#47. Create a set of the first `n` triangular numbers.

def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [25]:
#48. Check if a set contains another set as a subset.

# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [26]:
#49. Create a set of alternating 1s and 0s of length `n`.

# using list comprehension

# count of 1
count_1 = 4

# count of 0
count_0 = 3

# total length of list
size = 14

# initializing list cyclically
# using list comprehension
test_list = [1 if i % (count_1 + count_0) < count_1
			else 0 for i in range(size)]

# printing list after change
print("The list after initializing : " + str(test_list))

The list after initializing : [1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0]

In [39]:
#50. Merge multiple sets into one.

# Initializing lists
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]

# using naive method to concat
for i in test_list2 :
	test_list1.append(i)

# Printing concatenated list
print ("Concatenated list using naive method : "
							+ str(test_list1))

Concatenated list using naive method : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]