In [1]:
## Class 24 Sept Python

In [2]:
s = "ramjee"
len(s)

6

In [3]:
# using recursion len
def find_len(s):
    if s=="":
        return 0
    else:
        return 1+find_len(s[1:])   # 1 + go to 1st index

In [5]:
find_len("singh")

5

In [6]:
s[::-1]

'eejmar'

In [7]:
# using recursion reversal
def find_reverse(s):
    if s=="":
        return ""
    else:
        return find_reverse(s[1:])+s[0]  # go to first and then oth index

In [8]:
find_reverse("pwskills")

'sllikswp'

In [9]:
o = "hrjahadhvsgks"  # no of oocuange of charater

In [10]:
# base case if str is emplty then return 0
def find_char_count(o,c):
    if o=="":
        return 0
    elif o[0]==c:
        return 1+ find_char_count(o[1:],c)
    else:
        return find_char_count(o[1:],c)

In [11]:
find_char_count(o,"a")

2

In [12]:
find_char_count(o,"z")

0

In [13]:
find_char_count(o,"s")

2

In [14]:
l = [4,,6,5,7]  # sorted or not sorted

In [16]:
def check_sort_list(l):
    if len(l)<1:
        return True
    elif l[0] > l[1]:  # go over this check 4> 5 if false go to else  then againt 6>5 then give true
        return False
    else:
        return check_sort_list(l[1:])

In [17]:
check_sort_list(l)

False

In [ ]:
# perfect sq of sum nos
9
8
16 yes
25 yes
5 no

In [21]:
def check_per_square(n, start=1):
    if n==start **2:
        return True
    elif n < start **2:
        return False
    else :
        return check_per_square(n,start+1)

In [22]:
check_per_square(9)

True

In [23]:
check_per_square(64)

True

In [24]:
check_per_square(6)

False

In [25]:
# itrators and itrable
l =[1,3,4,4,5,7]
a=10
s= "ramjee"

In [26]:
for i in l:
    print (i)

1
3
4
4
5
7

In [27]:
for i in s:
    print(i)

r
a
m
j
e
e

In [28]:
for i in a: #'int' object is not iterable
    print(i)

TypeError: 'int' object is not iterable

In [29]:
iter(10)

TypeError: 'int' object is not iterable

In [30]:
iter(s)

In [31]:
list(iter(s))

['r', 'a', 'm', 'j', 'e', 'e']

In [32]:
s1 = iter(s)

In [33]:
s1

In [34]:
next(s1) # this will show how for loop is working

'r'

In [35]:
next(s1)

'a'

In [36]:
next(s1)

'm'

In [37]:
s2 ="pwskills"

In [44]:
str2=iter(s2)

In [39]:
for i in s2:
    print(i)

p
w
s
k
i
l
l
s

In [40]:
iter(s2) # iter function convert in form of itarator if applicable then for loop using this machanism

In [45]:
next(str2)

'p'

In [46]:
next(str2)

'w'

In [47]:
next(str2)

's'

In [43]:
iter([3,8,6,5]) # list is iterable but signle int is not iterable

In [48]:
num1 = iter([3,8,6,5])

In [49]:
next(num1)

3

In [50]:
next(num1)

8

In [51]:
next(num1)

6

In [52]:
next(num1)

5

In [53]:
next(num1)

StopIteration:

In [54]:
for i in {2,3,5,8,7,9}: # set is iterable
    print(i)

2
3
5
7
8
9

In [55]:
for i in (2,3,5,8,7,9): # tuple is iterable
    print(i)

2
3
5
8
7
9

In [56]:
iter(True) # for bool

TypeError: 'bool' object is not iterable

In [57]:
d = iter({'key':"pwskills"})

In [58]:
next(d)

'key'

In [59]:
iter(20)

TypeError: 'int' object is not iterable

In [60]:
iter()

TypeError: iter expected at least 1 argument, got 0

In [61]:
range(0,5)

range(0, 5)

In [62]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [63]:
for  i in range(0,5):
    print (i)

0
1
2
3
4

In [64]:
iter(range(0,5))

In [66]:
i = iter(range(0,5))

In [67]:
next(i)

0

In [68]:
next(i)

1

In [69]:
# generator function - produce a data
range(0,5) # trying to give data but not

range(0, 5)

In [76]:
def count_fun(n):
    i = 1
    while i<n:
        yield i # yield meaning production some data
        i = i+1

In [74]:
count_fun(9)

In [75]:
for i in count_fun(9):
    print(i)

1
2
3
4
5
6
7
8

In [77]:
j = iter(count_fun(9))

In [78]:
j

In [79]:
next(j)

1

In [80]:
def count_fun1(n):
    i = 1
    while i<n:
        return i # retrun will trying to give only one time data
        i = i+1

In [81]:
count_fun1(5) # give one result so we using yeild

1

In [83]:
list(count_fun(5))

[1, 2, 3, 4]

In [88]:
def count_fun2(n):
    i = 1
    l=[]
    while i<n:
        l.append(i)  # this operation take one by one and too much process in memory
        i = i+1
    return l

In [89]:
count_fun2(5)

[1, 2, 3, 4]

In [90]:
def count_fun(n):
    i = 1
    while i<n:
        yield i # yield meaning production some data
        i = i+1

In [91]:
for i in count_fun(50):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [92]:
# it will production a data and through the all function is running

In [93]:
# generate a fibanaki series
def fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b= b,a+b

In [94]:
for i in fib(9):
    print(i)

0
1
1
2
3
5
8
13
21

In [95]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 5A22-0754

 Directory of d:\Data Science\Python Coding\Class

24-09-2023  09:05    <DIR>          .
23-09-2023  12:46    <DIR>          ..
23-09-2023  09:17    <DIR>          .ipynb_checkpoints
21-08-2023  19:13            38,232 1_python basic variables .ipynb
16-09-2023  23:10            20,468 16_sept.ipynb
17-09-2023  16:57            41,601 17_sept.ipynb
10-09-2023  20:18            95,842 2_python basic data type .ipynb
23-09-2023  12:43            27,904 23_Sept_loop.ipynb
24-09-2023  11:39            26,813 24_sept.ipynb
01-09-2023  22:24            15,505 Assignment_1_Solu.19aug.ipynb
04-09-2023  12:40           318,402 Assignment_2_Solution.ipynb
18-08-2023  20:44           654,720 Class.xlsx
               9 File(s)      1,239,487 bytes
               3 Dir(s)  61,683,961,856 bytes free

In [96]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 5A22-0754

 Directory of d:\Data Science\Python Coding\Class

24-09-2023  11:52    <DIR>          .
23-09-2023  12:46    <DIR>          ..
23-09-2023  09:17    <DIR>          .ipynb_checkpoints
21-08-2023  19:13            38,232 1_python basic variables .ipynb
16-09-2023  23:10            20,468 16_sept.ipynb
17-09-2023  16:57            41,601 17_sept.ipynb
10-09-2023  20:18            95,842 2_python basic data type .ipynb
23-09-2023  12:43            27,904 23_Sept_loop.ipynb
24-09-2023  11:39            26,813 24_sept.ipynb
01-09-2023  22:24            15,505 Assignment_1_Solu.19aug.ipynb
04-09-2023  12:40           318,402 Assignment_2_Solution.ipynb
18-08-2023  20:44           654,720 Class.xlsx
10-09-2023  20:31             3,205 Intro.txt
              10 File(s)      1,242,692 bytes
               3 Dir(s)  61,683,961,856 bytes free

In [97]:
'/Class/Intro.txt'

'/Class/Intro.txt'

In [98]:
pwd

'd:\\Data Science\\Python Coding\\Class'

In [99]:
for i in open ('intro.txt'):
    print(i)

	    1.BIG DATAData Engineer

DATA	2.DATA SCIENCE

	    3.DATA ANALYTICS	DATA/BUSINESS ANALTYICS





BIG DATA -Big data primarily refers to data sets that are too large or complex

>>>>>>>>>>>>>>>

Hadoop-	Apache Hadoop software library is a framework that allows for the distributed processing of large data sets across clusters of computers using simple programming models,Alernative like Cloudera, Hortonworks, AWS (AMR)



Hive-	A data warehouse infrastructure that provides data summarization and ad hoc querying.WORKS ON TOP OF HADOOP



Hbase-	A scalable, distributed database that supports structured data storage for large tables



Spark-	Processing Engine .A fast and general compute engine for Hadoop data. Spark provides a simple and expressive programming model that supports a wide range of applications, including ETL, machine learning, stream processing, and graph computation.



Kafka-Messaging System.Apache Kafka is a distributed event store and stream-processing platform. It is an open-source system developed by the Apache Software Foundation written in Java and Scala. The project aims to provide a unified, high-throughput, low-latency platform for handling real-time data feeds.



Oozie-Apache Oozie is a server-based workflow scheduling system to manage Hadoop jobs.Xml based system, Alernative Airflow



Sqoop-Sqoop is a command-line interface application for transferring data between relational databases and Hadoop.





zookepper-	Feedback system or maintain a session .Apache ZooKeeper is an open-source server for highly reliable distributed coordination of cloud applications.



Programming Language< Java , Scala, Python



DSA	- Data Structures and Algorithms

SQL	- Structured Query Language

Cloud

Ops	auto scaling



###############################################################################

HDFS	Hadoop Distributed File System

GDFS	GOOGLE DISTRIBUTED FILE SYSTEM

GCP	Google Cloud Platform

ETL	Extract Transform and Load



#################################################################################

DATA SCIENCE



Programming Language< Java , Scala, Python

DSA	FOR PRODUCT BASE SOFTWARE/COMPANY

SQL

Math

ML -	Machine Learning

DL -	Deep Learning

CV -	Computer Vision

NLP	- Natural Language Processing

RL-	Reinforcement Learning

OPS -	ML/DL Operational

CLOUD-	AWS , AZURE, GCP



####################################################################################

DATA ANALYTICS

SQL

Python

Dashboard	POWER BI, TABLEU, QULICK

Excel

Stats

ML	Machine Learning Overview



++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

types  of data

.csv

.pdf

.xml

.json/.yaml

.mp4/.mp3

.jpeg/.png

oracle/javascripts

.txt



Data is like a crude oil. We can define according to ypes of data and choose sturactural means a data like schema/dbo/ table like SQL, ORACLE types and non-structural like pdf, jpg

and semi structure means having schema but flow all types of data like facebook data , linkedin , whatsapp

In [100]:
def read_file(file_name):
    with open (file_name) as file: # mode is not req file_name,r
        for i in file:
            yield i

In [101]:
read_file('Intro.txt')

In [102]:
for i in read_file('Intro.txt'):
    print(i)

	    1.BIG DATAData Engineer

DATA	2.DATA SCIENCE

	    3.DATA ANALYTICS	DATA/BUSINESS ANALTYICS





BIG DATA -Big data primarily refers to data sets that are too large or complex

>>>>>>>>>>>>>>>

Hadoop-	Apache Hadoop software library is a framework that allows for the distributed processing of large data sets across clusters of computers using simple programming models,Alernative like Cloudera, Hortonworks, AWS (AMR)



Hive-	A data warehouse infrastructure that provides data summarization and ad hoc querying.WORKS ON TOP OF HADOOP



Hbase-	A scalable, distributed database that supports structured data storage for large tables



Spark-	Processing Engine .A fast and general compute engine for Hadoop data. Spark provides a simple and expressive programming model that supports a wide range of applications, including ETL, machine learning, stream processing, and graph computation.



Kafka-Messaging System.Apache Kafka is a distributed event store and stream-processing platform. It is an open-source system developed by the Apache Software Foundation written in Java and Scala. The project aims to provide a unified, high-throughput, low-latency platform for handling real-time data feeds.



Oozie-Apache Oozie is a server-based workflow scheduling system to manage Hadoop jobs.Xml based system, Alernative Airflow



Sqoop-Sqoop is a command-line interface application for transferring data between relational databases and Hadoop.





zookepper-	Feedback system or maintain a session .Apache ZooKeeper is an open-source server for highly reliable distributed coordination of cloud applications.



Programming Language< Java , Scala, Python



DSA	- Data Structures and Algorithms

SQL	- Structured Query Language

Cloud

Ops	auto scaling



###############################################################################

HDFS	Hadoop Distributed File System

GDFS	GOOGLE DISTRIBUTED FILE SYSTEM

GCP	Google Cloud Platform

ETL	Extract Transform and Load



#################################################################################

DATA SCIENCE



Programming Language< Java , Scala, Python

DSA	FOR PRODUCT BASE SOFTWARE/COMPANY

SQL

Math

ML -	Machine Learning

DL -	Deep Learning

CV -	Computer Vision

NLP	- Natural Language Processing

RL-	Reinforcement Learning

OPS -	ML/DL Operational

CLOUD-	AWS , AZURE, GCP



####################################################################################

DATA ANALYTICS

SQL

Python

Dashboard	POWER BI, TABLEU, QULICK

Excel

Stats

ML	Machine Learning Overview



++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

types  of data

.csv

.pdf

.xml

.json/.yaml

.mp4/.mp3

.jpeg/.png

oracle/javascripts

.txt



Data is like a crude oil. We can define according to ypes of data and choose sturactural means a data like schema/dbo/ table like SQL, ORACLE types and non-structural like pdf, jpg

and semi structure means having schema but flow all types of data like facebook data , linkedin , whatsapp