In [1]:
# primitive data type done 
# list data type

In [2]:
l = [1, 345, 45, "ramjee", True, 5+7j, 345.68]

In [3]:
l

[1, 345, 45, 'ramjee', True, (5+7j), 345.68]

In [4]:
type(l)

list

In [5]:
# list is define under []

In [7]:
# extract 345
l[1]

345

In [8]:
# start point 0 end point7 jump=2
l[0:7:2]

[1, 45, True, 345.68]

In [9]:
l[90]

IndexError: list index out of range

In [11]:
l[0:3]

[1, 345, 45]

In [12]:
l[-1]

345.68

In [13]:
#reverse
l[::-1]

[345.68, (5+7j), True, 'ramjee', 45, 345, 1]

In [14]:
l

[1, 345, 45, 'ramjee', True, (5+7j), 345.68]

In [15]:
#even
l[::2]

[1, 45, True, 345.68]

In [19]:
#odd index
l[0:7:3]

[1, 'ramjee', 345.68]

In [20]:
s ="pwskills"

In [21]:
l + s

TypeError: can only concatenate list (not "str") to list

In [22]:
# not objective
list(s)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [23]:
list(s) + l

['p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 345,
 45,
 'ramjee',
 True,
 (5+7j),
 345.68]

In [24]:
################### append function can concat under list

In [25]:
l

[1, 345, 45, 'ramjee', True, (5+7j), 345.68]

In [26]:
# extract ra from list
l[3]

'ramjee'

In [29]:
l[3][0:2]

'ra'

In [30]:
l[4]

True

In [32]:
str(l[4])[0:2]

'Tr'

In [33]:
# but 'Tr' is showing as str not bool

In [34]:
li=[3,4,5]

In [35]:
l + li

[1, 345, 45, 'ramjee', True, (5+7j), 345.68, 3, 4, 5]

In [36]:
# l + li can concat bcz of same data type as list

In [38]:
li * 3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [39]:
len(l)

7

In [40]:
l

[1, 345, 45, 'ramjee', True, (5+7j), 345.68]

In [41]:
l.append(5)

In [42]:
# 5 is inserted in list
l

[1, 345, 45, 'ramjee', True, (5+7j), 345.68, 5]

In [43]:
l.append(s)

In [44]:
l

[1, 345, 45, 'ramjee', True, (5+7j), 345.68, 5, 'pwskills']

In [45]:
# list ke under list
l.append(li)

In [46]:
l

[1, 345, 45, 'ramjee', True, (5+7j), 345.68, 5, 'pwskills', [3, 4, 5]]

In [48]:
# extract 4 from list under list
l[-1]

[3, 4, 5]

In [49]:
l[-1][1]

4

In [50]:
################ extend function - nature of data iterable

In [51]:
l.extend(4)

TypeError: 'int' object is not iterable

In [52]:
l.extend("ram")

In [53]:
l

[1,
 345,
 45,
 'ramjee',
 True,
 (5+7j),
 345.68,
 5,
 'pwskills',
 [3, 4, 5],
 'r',
 'a',
 'm']

In [54]:
# ram is inserted in list but as slice

In [55]:
l.extend([3,4,5])

In [56]:
l

[1,
 345,
 45,
 'ramjee',
 True,
 (5+7j),
 345.68,
 5,
 'pwskills',
 [3, 4, 5],
 'r',
 'a',
 'm',
 3,
 4,
 5]

In [57]:
li

[3, 4, 5]

In [58]:
################## insert function

In [59]:
# 2nd index par data insert
li.insert(1,"ramjee")

In [60]:
li

[3, 'ramjee', 4, 5]

In [61]:
# list ke under list
li.insert(2,[2,3,4])

In [62]:
li

[3, 'ramjee', [2, 3, 4], 4, 5]

In [63]:
li.insert(-1,45)

In [64]:
li

[3, 'ramjee', [2, 3, 4], 4, 45, 5]

In [65]:
# 5 ka place -1 tha 45 insert ho gya -1 ke place par aur 5 ko shift kar diya

In [70]:
# every time data run and add
li.insert(0,405)

In [71]:
li

[405, 405, 45, 3, 'ramjee', [2, 3, 4], 4, 45, 5]

In [72]:
####### pop function

In [73]:
li.pop()

5

In [74]:
li

[405, 405, 45, 3, 'ramjee', [2, 3, 4], 4, 45]

In [75]:
# last data delete means -1 index

In [76]:
li.pop()

45

In [77]:
li

[405, 405, 45, 3, 'ramjee', [2, 3, 4], 4]

In [78]:
li.pop(2)

45

In [79]:
li

[405, 405, 3, 'ramjee', [2, 3, 4], 4]

In [80]:
li.pop(4)

[2, 3, 4]

In [81]:
li

[405, 405, 3, 'ramjee', 4]

In [82]:
#### remove function - first value delete

In [83]:
li

[405, 405, 3, 'ramjee', 4]

In [84]:
li.remove(3)

In [85]:
li

[405, 405, 'ramjee', 4]

In [86]:
# pop index ko delete krta hai remove particular value ko

In [87]:
l

[1,
 345,
 45,
 'ramjee',
 True,
 (5+7j),
 345.68,
 5,
 'pwskills',
 [405, 405, 'ramjee', 4],
 'r',
 'a',
 'm',
 3,
 4,
 5]

In [92]:
s1 = [45,"ramjee", [2,3,4], 4]

In [93]:
s1[2]

[2, 3, 4]

In [94]:
s1[2].remove(3)

In [95]:
s1

[45, 'ramjee', [2, 4], 4]

In [97]:
#if we remove am then it is immutable 
# list is mututable object then remove posssible

In [98]:
li.append(4)

In [99]:
li

[405, 405, 'ramjee', 4, 4]

In [100]:
li.remove(4)

In [101]:
li

[405, 405, 'ramjee', 4]

In [102]:
# 4 two times tha so ek bar me ek hi remove hoga

In [103]:
# permannet reverse
li[::-1]

[4, 'ramjee', 405, 405]

In [104]:
# temp reverse
li.reverse()

In [105]:
li

[4, 'ramjee', 405, 405]

In [106]:
#######sort

In [107]:
l2 = [45,23,90,3,4,5,6,7,8,9]

In [108]:
l2.sort()

In [109]:
l2

[3, 4, 5, 6, 7, 8, 9, 23, 45, 90]

In [110]:
li.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [111]:
# not supported between instances of 'str' and 'int'

In [126]:
l3 = ["data science","ramjee","singh","pwskills"]

In [128]:
l3.sort()

In [129]:
l3

['data science', 'pwskills', 'ramjee', 'singh']

In [130]:
# decending order sort
l3.sort(reverse=True)

In [131]:
l3

['singh', 'ramjee', 'pwskills', 'data science']

In [132]:
#  count

In [134]:
l3.index("pwskills")

2

In [135]:
l3.count("pwskills")

1

In [136]:
l5 = [3,4,5,6]

In [137]:
l3

['singh', 'ramjee', 'pwskills', 'data science']

In [138]:
l3[0]

'singh'

In [140]:
l5[0]= 'a'

In [141]:
l5

['a', 4, 5, 6]

In [142]:
l5[0] =30

In [143]:
l5

[30, 4, 5, 6]

In [144]:
l3[0] = 'a'

In [145]:
l3

['a', 'ramjee', 'pwskills', 'data science']

In [147]:
# mutability in string not work eg
st ="ramjee"

In [148]:
st[0]='s'

TypeError: 'str' object does not support item assignment

In [149]:
# replace function

In [150]:
st.replace('r','s')

'samjee'

In [151]:
st

'ramjee'

In [152]:
# original st variable not change