In [1]:
# set define under {} use for remove duplicate

In [2]:
s1 = {}

In [3]:
type(s1)

dict

In [4]:
s2 ={2,3,4,55,6}

In [5]:
type(s2)

set

In [6]:
s3 = {24,456,"ramjee",45+3j,[3,4,5]}

TypeError: unhashable type: 'list'

In [ ]:
# only immutable collect rakhega
s3 = {24,456,"ramjee",45+3j,(3,4,5)}

In [ ]:
s3

{(3, 4, 5), (45+3j), 24, 456, 'ramjee'}

In [ ]:
s4 = {2,3,4,4,5,7,8,5,3,4,5,2,5}

In [ ]:
#only unique value as output
s4

{2, 3, 4, 5, 7, 8}

In [ ]:
s5 = {2,3,4,4,5,7,8,5,3,4,5,2,5,'Ramjee','ramjee'}

In [ ]:
s5

{2, 3, 4, 5, 7, 8, 'Ramjee', 'ramjee'}

In [ ]:
# python is case sensetive language that's why name two time

In [ ]:
### keep same data in list and convert in set
s6 = [2,3,4,4,5,7,8,5,3,4,5,2,5,'Ramjee','ramjee']

In [ ]:
s6 = set(s6)

In [ ]:
s6

{2, 3, 4, 5, 7, 8, 'Ramjee', 'ramjee'}

In [ ]:
# again convert in list

In [ ]:
s6 = list(set(s6))

In [ ]:
s6

[2, 3, 4, 5, 'Ramjee', 7, 8, 'ramjee']

In [8]:
# set remove duplicate nut not arrange data in asc order

In [10]:
s5 ={234,45,23,10,567,56,134,"abc",345, 342,23}

In [11]:
s5

{10, 134, 23, 234, 342, 345, 45, 56, 567, 'abc'}

In [13]:
# hear showing not data ser order

In [14]:
s5[0]

TypeError: 'set' object is not subscriptable

In [15]:
# slice is not applicable in set

In [16]:
# if 4 not in set then add else not 
s5.add(4)

In [17]:
s5

{10, 134, 23, 234, 342, 345, 4, 45, 56, 567, 'abc'}

In [18]:
s5.remove(4)

In [19]:
s5

{10, 134, 23, 234, 342, 345, 45, 56, 567, 'abc'}