In [1]:
li = ["ram","mohan", "sita","gita"]

In [2]:
li

['ram', 'mohan', 'sita', 'gita']

In [3]:
#for loop one by assign i ---pahel 1 element then 2 ko nikalega then i do dete rahega
for i in li :
    print(i)

ram
mohan
sita
gita

In [4]:
for i in li :
    print(i, type(i))

ram <class 'str'>
mohan <class 'str'>
sita <class 'str'>
gita <class 'str'>

In [5]:
# identation ka mistake nahi krna hai print syntax ke liye

In [6]:
#for else
for i in li :
    print(i)
else :
    print("if for loop is complete itself then only else will execute")

ram
mohan
sita
gita
if for loop is complete itself then only else will execute

In [7]:
# value jaise milega ruk jayega
for i in li :
    if i == "sita":
        break
    print(i)

ram
mohan

In [8]:
for i in li :
    if i == "sita":
        break
    print(i)
else :
    print("execute this for loopis able to complete itself")

ram
mohan

In [9]:
for i in li :
    if i == "Sita":
        break
    print(i)
else :
    print("execute this for loop is able to complete itself")

ram
mohan
sita
gita
execute this for loop is able to complete itself

In [10]:
#jo v bad likha hai wo i ko chhodkar print kar dega
for i in li :
    if i =="sita" :
        continue
    print(i)

ram
mohan
gita

In [11]:
for i in li :
    if i =="sita" :
        continue
    print(i)
else :
    print("execute this for loop is able to complete itself")

ram
mohan
gita
execute this for loop is able to complete itself

In [12]:
#yha continue karne ke liya cmd hai then else v prt hoga

In [13]:
# data generator excluding 5
range(5)

range(0, 5)

In [14]:
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
# jump same as slicing
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [16]:
list(range(0,5,2))

[0, 2, 4]

In [17]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
#neg range
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [19]:
li

['ram', 'mohan', 'sita', 'gita']

In [20]:
# for i in range(len(li))
list(range(len(li)))

[0, 1, 2, 3]

In [21]:
# data extraction
for i in range(len(li)) :
    print(li[i])

ram
mohan
sita
gita

In [28]:
# reverse bcz len 4 
for i in range(len(li),0) :
    print(li[i])

In [23]:
list(range(len(li),0,-1))

[4, 3, 2, 1]

In [24]:
list(range(len(li)-1,0,-1))

[3, 2, 1]

In [25]:
list(range(len(li)-1,-1,-1))

[3, 2, 1, 0]

In [26]:
for i in range(len(li)-1,-1,-1) :
    print(li[i])

gita
sita
mohan
ram

In [27]:
for i in [3,2,1,0] :
    print(li[i])

gita
sita
mohan
ram

In [30]:
l2 = [23,67,87,56,6,8,9,30,124,45,67]

In [31]:
list(range(0,len(l2),2))
# for even data

[0, 2, 4, 6, 8, 10]

In [32]:
for i in range(0,len(l2),2):
    print(l2[i])

23
87
6
9
124
67

In [36]:
l =[10, 2, 4, 6, 8, 10]

In [37]:
#for sum all list
sum(l)

40

In [38]:
result = 0  # pahle variable karke result pahle no par jayega 10 +0 karega aur khud 10 ho jayega phir 2 ke pas jayega 2 add karte 12 ban jayegaa
for i in l:
    result = result + i
result

40

In [39]:
t =(10, 2, 4, 6, 8, 10)

In [40]:
sum(t)

40

In [41]:
for i in t:
    print(i)

10
2
4
6
8
10

In [42]:
result = 0
for i in t :
    result = result + i
result

40

In [43]:
s = {1,2,3,4,5,"ramjee","pwskills"}

In [44]:
for i in s :
    print(i)

1
2
3
4
5
pwskills
ramjee

In [45]:
s1 ="pwskills"

In [46]:
# string v index me data store krta hai
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [47]:
d = {"name":"sudh","class":"data science master",
     "topics":["python","stats","machine learning","DL","CV","ML","NLP","RESUME"]}

In [48]:
# KEY BASIS
d['name']

'sudh'

In [49]:
#key list
d.keys()

dict_keys(['name', 'class', 'topics'])

In [50]:
for i in d.keys():
    print(d[i])

sudh
data science master
['python', 'stats', 'machine learning', 'DL', 'CV', 'ML', 'NLP', 'RESUME']

In [51]:
d.values() # for value

dict_values(['sudh', 'data science master', ['python', 'stats', 'machine learning', 'DL', 'CV', 'ML', 'NLP', 'RESUME']])

In [52]:
for i in d.values():
    print(i)

sudh
data science master
['python', 'stats', 'machine learning', 'DL', 'CV', 'ML', 'NLP', 'RESUME']

In [53]:
for i in d.items(): # for key value pair item
    print(i)

('name', 'sudh')
('class', 'data science master')
('topics', ['python', 'stats', 'machine learning', 'DL', 'CV', 'ML', 'NLP', 'RESUME'])