In [33]:
# signle # will h1 heading and ## for h2 heading
# press esc+a for code line insert

In [34]:
import this

In [35]:
# variable declaration
# not  start with number like 10 = "ram"

In [36]:
a=10

In [37]:
a+10

20

In [38]:
a*10

100

In [39]:
a/10

1.0

In [40]:
# modulus
a%10

0

In [41]:
print(type(a))

<class 'int'>

In [42]:
# typecase from float to int
b = 123.50

In [43]:
type(b)

float

In [44]:
int(b)

123

In [45]:
float(a)

10.0

In [46]:
## boolean
a1 =True
b1 = False

In [47]:
a1 and b1

False

In [48]:
a1 or b1

True

In [49]:
# | or sym
a1 | b1

True

In [50]:
# string
name = "ramjee"

In [51]:
# concat 
name+ " singh"

'ramjee singh'

In [52]:
name+ str(1)

'ramjee1'

In [53]:
# complex num
j = 1.0-2.3j
    #real  imaginary num

In [54]:
j.real

1.0

In [55]:
j.imag

-2.3

In [56]:
# strong typing
c ="ramjee"

In [57]:
c+"1"

'ramjee1'

In [58]:
# string formatting 
d =100

In [59]:
print("The Value is : ",d)

The Value is :  100

In [60]:
first_name ="ramjee"
last_name = "singh"

In [61]:
print("The first name is {} and last name is {}".format(first_name,last_name))

The first name is ramjee and last name is singh

In [62]:
# method 2
print("The first name is {0} and last name is {1}".format(first_name,last_name))

The first name is ramjee and last name is singh

In [63]:
# method 3 change idex 
print("The first name is {1} and last name is {0}".format(last_name,first_name))

The first name is ramjee and last name is singh

In [64]:
# method 4 define as var
print("The first name is {a} and last name is {b}".format(b=last_name,a=first_name))

The first name is ramjee and last name is singh

In [65]:
##input
a = input("input the no")

In [66]:
a

'6'

In [69]:
a1 = input("input the no a1 ")
a2 = input("input the no a2 ")
print(int(a1)+int(a2))

30

In [70]:
# python control flow
# if statement

In [71]:
val = input("Enter any Number : ")
float_val = float(val)
print(float_val)

100.0

In [73]:
val = input("Enter any Number : ")
float_val = float(val)
if float_val>100: # if condition is written
    print(float_val,' is greater than 100')

120.0  is greater than 100

In [74]:
val = input("Enter any Number: ")
float_val = float(val)
if float_val > 100:  # If condition is written
    print(f'{float_val} is greater than 100')  # Corrected print statement

300.0 is greater than 100

In [75]:
val = input("Enter any Number: ")
float_val = float(val)
if float_val %2==0:  # 10%2 = 0 and 10%2 ==0 is true
    print(f'{float_val} is even number')

50.0 is even number

In [76]:
val = input("Enter any Number: ")
float_val = float(val)
if float_val%2==0:  # 10%2 = 0 and 10%2 ==0 is true
    print(f'{float_val} is even number')

In [77]:
val = input("Enter any Number: ")
float_val = float(val)
if float_val%2==0:  # 10%2 = 0 and 10%2 ==0 is true
    print(f'{float_val} is even Number')  
else:    # ELSE CONDITION
    print(f'{float_val} is odd Number')

123.0 is odd Number

In [78]:
## AGE FORM
age = float(input("Enter Your Age"))

if(age<18):
    print("Minor Age")
else:
    print("Adult")

Adult

In [79]:
# for nested if using elif
age = float(input("Enter Your Age"))

if(age<18):
    print("Minor Age")
elif(age>=18 and age<=45):  # elif 
    print("Mid age")

Mid age

In [80]:
age = float(input("Enter Your Age"))
# multi elif using
if(age<18):
    print("Minor Age")
elif(age>=18 and age<=45):  # elif 
    print("Mid age")
elif(age>=46 and age<=60):  # elif 
    print("old age")

old age

In [81]:
age = float(input("Enter Your Age"))
# multi elif using and else for remaing age
if(age<18):
    print("Minor Age")
elif(age>=18 and age<=45):  # elif 
    print("Mid age")
elif(age>=46 and age<=60):  # elif 
    print("old age")
else:
    print("Senior Citizen")

Senior Citizen

In [83]:
age = float(input("Enter Your Age"))
# multi elif using and else for remaing age
if(age<18):
    print("Minor Age")
    # nested if is using fot first condition
    if age<15:
        print("school boy")
    else:
        print("college boy")
elif(age>=18 and age<=45):  # elif 
    print("Mid age")
elif(age>=46 and age<=60):  # elif 
    print("old age")
else:
    print("Senior Citizen")

Minor Age
school boy

In [84]:
age = float(input("Enter Your Age"))
# multi elif using and else for remaing age
if(age<18):
    print("Minor Age")
    # nested if is using fot first condition
    if age<15:
        print("school boy")
    else:
        print("college boy")
elif(age>=18 and age<=45):  # elif 
    print("Mid age")
elif(age>=46 and age<=60):  # elif 
    print("old age")
else:
    print("Senior Citizen")

Minor Age
college boy