In [3]:
# signle # will h1 heading and ## for h2 heading
# press esc+a for code line insert

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [5]:
# variable declaration
# not  start with number like 10 = "ram"

In [11]:
a=10

In [12]:
a+10

20

In [13]:
a*10

100

In [14]:
a/10

1.0

In [15]:
# modulus
a%10

0

In [16]:
print(type(a))

<class 'int'>

In [17]:
# typecase from float to int
b = 123.50

In [18]:
type(b)

float

In [19]:
int(b)

123

In [20]:
float(a)

10.0

In [21]:
## boolean
a1 =True
b1 = False

In [22]:
a1 and b1

False

In [23]:
a1 or b1

True

In [24]:
# | or sym
a1 | b1

True

In [25]:
# string
name = "ramjee"

In [26]:
# concat 
name+ " singh"

'ramjee singh'

In [27]:
name+ str(1)

'ramjee1'

In [29]:
# complex num
j = 1.0-2.3j
    #real  imaginary num

In [30]:
j.real

1.0

In [31]:
j.imag

-2.3

In [32]:
# strong typing
c ="ramjee"

In [33]:
c+"1"

'ramjee1'

In [34]:
# string formatting 
d =100

In [35]:
print("The Value is : ",d)

The Value is :  100

In [36]:
first_name ="ramjee"
last_name = "singh"

In [39]:
print("The first name is {} and last name is {}".format(first_name,last_name))

The first name is ramjee and last name is singh

In [40]:
# method 2
print("The first name is {0} and last name is {1}".format(first_name,last_name))

The first name is ramjee and last name is singh

In [41]:
# method 3 change idex 
print("The first name is {1} and last name is {0}".format(last_name,first_name))

The first name is ramjee and last name is singh

In [42]:
# method 4 define as var
print("The first name is {a} and last name is {b}".format(b=last_name,a=first_name))

The first name is ramjee and last name is singh

In [43]:
##input
a = input("input the no")