In [1]:
#17 Sept Class

In [2]:
# function (reusable -bind the entire identity with certain name)
def test():
    print("This is my first function")

In [3]:
test()

This is my first function

In [4]:
test()

This is my first function

In [5]:
test()+"ramjee"

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [6]:
# str(test())+"ramjee"
type(test())

This is my first function

NoneType

In [7]:
str(test())+"ramjee"

This is my first function

'Noneramjee'

In [8]:
def test2():
    print(1+2)

In [9]:
test2()

3

In [11]:
# print give non type output always in any function
test2()+10

3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [12]:
def test3():
    return 1+2

In [13]:
test3()

3

In [14]:
test3()+10

13

In [15]:
# return always give data as it it that why test3() giive output 13

In [16]:
type(test3())

int

In [17]:
def test4():
    return 2 ,"ramjee", True, [1,2,3,4]

In [18]:
test4()

(2, 'ramjee', True, [1, 2, 3, 4])

In [19]:
# way to declare variable
a,b,c,d = 1 , "ramjee",34,45

In [20]:
a = 1
b = "ramjee"
c = 34
d = 45

In [22]:
type(test4()) # multiple output give typles

tuple

In [23]:
m,n,o,p = test4() # we can define output

In [24]:
m # call

2

In [25]:
n

'ramjee'

In [26]:
o

True

In [27]:
p

[1, 2, 3, 4]

In [28]:
def test5(x): # pass any kind of data x is called argument/placeholder
    return x

In [29]:
test5(5)

5

In [30]:
test5("ramjee")

'ramjee'

In [31]:
test5("True")

'True'

In [33]:
test5([2,3,5])

[2, 3, 5]

In [34]:
test5(4,5) # two ar not possible

TypeError: test5() takes 1 positional argument but 2 were given

In [35]:
test5() # blank not possible

TypeError: test5() missing 1 required positional argument: 'x'

In [36]:
def test6(x,y):
    return x,y

In [38]:
test6(5,"ramjee")

(5, 'ramjee')

In [39]:
test6("ramjee",[2,5,6])

('ramjee', [2, 5, 6])

In [40]:
def test7(a:int,b:int):
    return a,b
    # we can dfine datatype

In [41]:
test7(4,5)

(4, 5)

In [42]:
test7("ramjee",[4,5,6,7])

('ramjee', [4, 5, 6, 7])

In [43]:
def test8(x:int,y:int):
    return x/y

In [44]:
test8(9,3)

3.0

In [45]:
test8("ramjee","siya")  # shft tab to view def

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [47]:
def test9(c,d):
    return c+d

In [48]:
test9(4,5)

9

In [49]:
print()

In [50]:
def test9(c,d):
    """ this is function can take two input and return a addition or concatination"""
    return c+d

In [51]:
test9()  # this will show doc string which define function usability

TypeError: test9() missing 2 required positional arguments: 'c' and 'd'

def test10():  # pass any no of arg ?

In [52]:
def test10(*args):
    return args

In [53]:
test10()

()

In [54]:
test10(1,2,5,8,9)

(1, 2, 5, 8, 9)

In [55]:
def test11(*ramjee):
    return ramjee

In [56]:
test11(3,5,8)

(3, 5, 8)

In [58]:
def test12(**kwargs):  # ** pass key and val pair
    return kwargs

In [59]:
test12(a=4,b=6)

{'a': 4, 'b': 6}

In [60]:
test12(a=4,b=6,c="python")

{'a': 4, 'b': 6, 'c': 'python'}

In [61]:
test12(n={'a': 4, 'b': 6, 'c': 'python'}) # pass dict

{'n': {'a': 4, 'b': 6, 'c': 'python'}}

In [69]:
def test13(b1,a1=10,c1=20):
    return a1,b1,c1

In [64]:
test13(56)

(10, 56, 20)

In [70]:
test13(34,a1=45) # a overwritten

(45, 34, 20)

# lambda function

In [73]:
def test14(a,b):
    return a+b

In [74]:
test14(5,6)

11

In [76]:
m = lambda a,b : a+b # anym funct / without name func

In [77]:
# m is simple var whr save lambda func
m

In [78]:
m(2,6)

8

In [82]:
def check_even(n):
    if n%2 ==0:  # remender is 0
        return "given no is even"
    else:
        return "given no is odd no"

In [83]:
check_even(3)

'given no is odd no'

In [84]:
3%2

1

In [85]:
check_even(66)

'given no is even'

In [86]:
# same code written in lambda func
ev_num = lambda n: "given no is even" if n%2 == 0 else "given no is odd"

In [87]:
ev_num(4)

'given no is even'

In [88]:
ev_num(3)

'given no is odd'

In [90]:
l = [3,4,6,8,2,5,3]
min_list = lambda li:min(l)

In [91]:
min_list(l)

2

In [93]:
div = lambda a,b:a/b
div(5,6)

0.8333333333333334

In [96]:

upper = lambda s : s.upper()

In [97]:
upper("ramjee")

'RAMJEE'

In [99]:
l = [1,4,7,3,5,88,34]  # odd sum

def sum_odd(b):
    l1 =[]
    for i in b:
        if i%2 !=0:
            l1.append(i)
    return sum(l1)

In [100]:
sum_odd(l)

16

In [101]:
# comprehension is short to wrt code
[i for i in l if i%2!=0]

[1, 7, 3, 5]

In [102]:
sum([i for i in l if i%2!=0])

16

In [103]:
sum_off_lambda = lambda b : sum([i for i in l if i%2!=0])

In [104]:
sum_off_lambda(l)

16

In [105]:
# factorial

In [106]:
def fact_num(n):
    if n==0:
        return 1
    else:
        return n*fact_num(n-1) # recursive call looping itself

In [107]:
fact_num(4)

24

In [108]:
fact_num(0)

1

In [109]:
def fact_numb(n):
    a=1
    for i in range(1,n+1):
        a=i*a
    return a

In [110]:
fact_numb(4)

24

In [111]:
fact_lambda = lambda n : 1 if n==0 else n*fact_lambda(n-1)

In [112]:
fact_lambda(4)

24

# map

In [114]:
l = [5,6,7,8,89]

l1=[]
for i in l:
    l1.append(i*2)

In [ ]:
l = [5,6,7,8,89]

l1=[]
for i in l:
    l1.append(i*2)

In [115]:
v = lambda a:a+2

In [116]:
v(10)

12

In [119]:
l = [5,6,7,8]

In [120]:
list(map(lambda a:a+2,l))  # map takes 2 args

[7, 8, 9, 10]

In [121]:
def test34(c):
    return c+2

In [125]:
list(map(test34,l)) # typecast

[7, 8, 9, 10]

In [126]:
map(test34,l)

In [127]:
test34(5)

7

In [128]:
l = ["python","pwskilss","lenthofeach"]

In [131]:
l1 =[]
for i in l:
    l1.append(len(i))

In [132]:
l1

[6, 8, 11]

In [ ]:
list(map(lambda a: a[::-1],l))

In [134]:
l = [2,5,8,9,7] # multi of every ele
from functools import reduce  # import package

In [ ]:
reduce()

In [136]:
reduce(lambda a,b:a*b,l)  # take two arg lambda a,b:a*b, and l  # whenever we r looking for final result use reduce otherwise for multi use map

5040

In [139]:
reduce(lambda a,b:a if a>b else b,l)  # max in list

9

In [140]:
# factorial of nums
n = 4
fact = reduce(lambda a,b: a*b, range(1,n+1))

In [141]:
fact

24

In [142]:
def test(a,b):
    return a*b

In [145]:
fact1 = reduce(test,range(1,n+1))

In [146]:
fact1

24

In [147]:
l

[2, 5, 8, 9, 7]

In [148]:
[i for i in l if i%2==0]

[2, 8]

In [149]:
reduce(lambda a,b:a*b,[i for i in l if i%2==0]
    ) # sum of even

16

# filter

In [150]:
# filter some data based on condition
l = [3,4,6,89,6,78,94,33,23,67]

In [ ]:
# filter odd nums
filter()

In [151]:
filter(lambda a:a%2==0,l)

In [152]:
list(filter(lambda a:a%2==0,l))

[4, 6, 6, 78, 94]

In [154]:
s = "Pw Skills"
# FILTER LOWERCASE DATA
list(filter(lambda a:a.islower(),s))

['w', 'k', 'i', 'l', 'l', 's']

In [155]:
s = "Pw Skills"
list(filter(lambda a:a.lower(),s))

['P', 'w', ' ', 'S', 'k', 'i', 'l', 'l', 's']

In [156]:
l = ["pw","pwskilss","ramjee","krish"]

In [157]:
list(filter(lambda a: len(a)<4,l)) # less than 4 char

['pw']

In [159]:
list(filter(lambda a: a[0]=="p",l)) # start with p

['pw', 'pwskilss']

In [161]:
# phewnaki
def gen_fib(n):
    if n <=1:
        return n
    else:
        return gen_fib(n-1)+gen_fib(n-2)

In [162]:
gen_fib(3)

2

In [164]:
gen_fib(5)

5

In [169]:
def sum_till_n(n):
    if n==1:
        return 1
    else:
        return n+ sum_till_n(n-1)

In [170]:
sum_till_n(5)

15